<!DOCTYPE html>
<html ng-app="catalogApp">
  <head>
    <meta charset="utf-8">
    <title>Catalog Test</title>
    <link rel="stylesheet" href="/assets/css/loading.css">
    <link href="/assets/css/animate.min.css" rel="stylesheet"> 	
    <link href="/css/bootstrap.min.css" rel="stylesheet"> 
    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">	
	<script src="/assets/js/underscore.js"></script>
	<script src="/assets/js/angular.min.js"></script>
	<script src="/js/vendor/ui-bootstrap.min.js"></script>	

  <body ng-controller="catalogCtrl">  
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">OPEN IOT</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
		    <li> CATALOG </li>
			<li><a href="#" ng-click="getCatalogRemote()" >Get remote catalogs</a>  
			<li><a href="#" ng-click="getCatalogLocal()" >Get local catalogs</a>
			<li class="nav-divider"></li>		
          </ul>
          <ul class="nav nav-sidebar">
		    <li> APPLICATIONS </li>
			<li class="active"><a href="#" ng-click="getApps()" >get applications</a>	
			<li class="nav-divider"></li>			
          </ul>
          <ul class="nav nav-sidebar">
            <li> MEETING ROOM APP </li>		  
			<li><a href="#" ng-click="clearAppliationData()" >Clear Application Data </a></li>
			<li><a href="#" ng-click="integrateSensorAndRoom()" >Map sensor and room</a>	
			<li><a href="#" ng-click="cacheMeetingEvents()" >Cache meeting events</a>
          </ul>

          <ul class="nav nav-sidebar">
            <li> Alertme APP </li>		  
			<li><a href="#" ng-click=" ">Refresh the energy data </a></li>
          </ul>		  

          <ul class="nav nav-sidebar">
            <li> Heating Map APP </li>		  
			<li><a href="#" ng-click="" > </a></li>
          </ul>		  
		  
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Dashboard</h1>
		    <!--
			http://getbootstrap.com/getting-started/
			<div class="alert alert-success"></div>
			<div class="alert alert-danger"></div>
			-->
			<ul class="row placeholders" ng-repeat="app in applications">		
				<li class="col-xs-6 col-sm-3 placeholder">	
					<h2><i class="icon-data_science blue"></i>{{app.name}}</h2>
					<span class="text-muted">{{app.updated}}</span>
					
					<div class="dropdown">
					  <button class="btn dropdown-toggle sr-only" type="button" id="dropdownMenu1" data-toggle="dropdown">
						Dropdown
						<span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
						<li role="presentation" class="divider"></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
					  </ul>
					</div>					
					
					
					<table class="table table-condensed table-hover">
						<thead>
							<tr> 
								<th class="span3">URL</th>                           
								<th class="span3">KEY</th>
								<th class="span3">PROFILE</th>
								<th class="span3">UPDATE TIME</th>
							</tr>
						</thead>					
						<tbody class="messagelist" ng-repeat="catalog in app.catalogs">                  
							<tr >
								<td><strong>{{catalog.url}}</strong></td>
								<td><strong>{{catalog.key}}</strong></td>
								<td><strong>{{catalog.profile}}</strong></td>
								<td><strong>{{catalog.updated}}</strong></td>
							</tr>
							<td>
								<a href="#deleteModal" ng-click="deleteAppCatalog(app.name,catalog.url)" class='delete-modal' role="button" data-toggle="modal"  ><i class="glyphicon glyphicon-remove"></i></a>
							</td>							
						</tbody>
					</table>						
				</li>
			</ul> 		  

          <h2 class="sub-header">Local catalog</h2>
          <div class="table-responsive">
				<table class="table table-condensed table-hover">
                    <thead>
                        <tr> 
                            <th class="span3">NAME</th>						
                            <th class="span3">URL</th>                           
                            <th class="span3">KEY</th>
							<th class="span3">DESCRIPTION</th>
							<th class="span3">UPDATE TIME</th>
	                        <th class="span1"><input type="checkbox"></th>
                        </tr>
                    </thead>
					
                    <tbody class="messagelist" ng-repeat="catalog in catalogs_local">                  
                        <tr data-id={{catalog._id}} ">
                            <td><strong>{{catalog.name}}</strong></td>
                            <td><strong>{{catalog.url}}</strong></td>
                            <td><strong>{{catalog.key}}</strong></td>
							<td><strong>{{catalog.description}}</strong></td>
							<td><strong>{{catalog.updated}}</strong></td>
	                        <td>
                                <a href="#editModal"  ng-click="updateCatalog(catalog.url,catalog.key)" class='edit-modal' data-toggle="modal" data-id={{catalog._id}}  ng-disabled="catalog.updating"><i class="glyphicon glyphicon-refresh"></i></a>
                                <a href="#deleteModal" ng-click="deleteCatalog(catalog.url)" class='delete-modal' role="button" data-toggle="modal" data-id={{catalog._id}}  ng-disabled="catalog.updating"><i class="glyphicon glyphicon-remove"></i></a>
								<a href="#deleteModal" ng-click="getCatalogResource(catalog.url)" class='delete-modal' role="button" data-toggle="modal" data-id={{catalog._id}}  ng-disabled="catalog.updating"><i class="glyphicon glyphicon-list"></i></a>
                            </td>
                        </tr>                   	
                    </tbody>			  		
                </table>

                <h2 class="sub-header">Remote catalog</h2>
				<table class="table table-condensed table-hover">
                    <thead>
                        <tr> 
                            <th class="span3">NAME</th>						
                            <th class="span3">URL</th>                           
                            <th class="span3">KEY</th>
							<th class="span3">DESCRIPTION</th>
                        </tr>
                    </thead>
					
                    <tbody class="messagelist" ng-repeat="catalog in catalogs_remote">                  
                        <tr >
                            <td><strong>{{catalog.name}}</strong></td>
                            <td><strong>{{catalog.url}}</strong></td>
                            <td><strong>{{catalog.key}}</strong></td>
							<td><strong>{{catalog.description}}</strong></td>
                        </tr>                   	
                    </tbody>
                </table>
		  
		  
          </div>
        </div>
      </div>
    </div>   

<script>  
var catalogApp = angular.module('catalogApp', ['ui.bootstrap']);  // ,'NgSwitchery'  https://github.com/servergrove/NgSwitchery
catalogApp.controller('catalogCtrl', function ($rootScope,$scope, $http, $interval, $modal) {
    
	var baseURL = 'http://localhost', username = 'helxsz';
	$scope.catalogs_local = [];
	$scope.catalogs_remote = [];
	$scope.formData = {from:'helxsz', to:'helxsz', msg:'who are you indeed'};

	$scope.getDataByURL = function(url,success){
	    $http.get(url)
	         .success(success).error(function(){
	            console.log('get messages by url error',status);
	
	        })		
	}	
	///////////////////////////// meeting room application //////////////////////////////
	
	$scope.integrateSensorAndRoom = function(){
		var url = "/meeting/catalog/integrate"; 
	    $scope.getDataByURL(url,function(data){
            console.log('success in integrateSensorAndRoom data',data);			
		});	
	}
	
	$scope.clearAppliationData = function(){
	    console.log('clearAppliationData ');
		var url = "/admin/meeting/data/empty"; 
	    $scope.getDataByURL(url,function(data){
            console.log('success in clear the application data');			
		});
	}
	
	$scope.cacheMeetingEvents = function(){
	    console.log('cache events ');
		var url = "/meeting/cacheevents"; 
	    $scope.getDataByURL(url,function(data){
            console.log('success in cache events data');			
		});	
	}
	
	///////////////////////////////////////////////////////
	
	$scope.getCatalogLocal = function(){
	    console.log('get Catalog Local  ');
		var url = "/admin/catalogs/local"; 
	    $scope.getDataByURL(url,function(data){
		    $scope.catalogs_local = data;
            _.map($scope.catalogs_local,function(obj){
			    obj.updating =false;
			})			
		});
	}
	
	$scope.getCatalogResource = function(url){
	    console.log('get Catalog Local  getCatalogResource');
		var url = "/admin/catalogs/resources?url="+url; 
	    $scope.getDataByURL(url,function(data){
            console.log('getCatalogResource   .....',data);			
		});
	}	
	
	$scope.getCatalogRemote = function(){
	    console.log('get catalogs remote');
		var url = '/admin/catalogs/remote';
		$scope.getDataByURL(url,function(data){
		    $scope.catalogs_remote = data; 
		});
	}
	
	$scope.saveAllRemote = function(url,key){
		var url = '/admin/catalogs/remote?update=true';
		$scope.getDataByURL(url,function(data){
		    $scope.catalogs_local = data; 
		});      	    
	}	
	
	$scope.updateCatalogAll = function(){
	    console.log('update catalog all  ');
		var url = "/admin/catalogs/update"; 
	    
		$http.get(url)
	        .success(function(data) {
	            
	        })
			.error(function(){
	            console.log('get messages by url error',status);	
	        })
	}	

	
	$scope.updateCatalog = function(url,key){
        if ($scope.formData.$valid) {
			alert('our form is amazing');
			return;
		}	
        console.log('update the catalog ',url);
      		
        $http({
            url: "/admin/catalogs/local/update?url="+url+"&key="+key,
            method: "POST",
            headers: {'Content-Type': 'application/x-www-form-urlencoded'}
        }).success(function (data, status, headers, config) {
                 console.log('updateCatalog  ',status,data);
        }).error(function (data, status, headers, config) {
            console.log('updateCatalog error',data, status, headers);      
        });       	    
	}	

	$scope.deleteCatalog = function(url){
	    console.log('delete catalog ... ', url);	  
		$http({
				url: "/admin/catalogs/remove?url="+url,
				method: "DELETE",
			}).success(function (data, status, headers, config) {
				    console.log('deleteCatalog  ',status,data);
				    var index = -1;
					for(var i=0;i<$scope.catalogs_local.length;i++){
					   if($scope.catalogs_local[i].url == url){
					      index = i;
					   }
					}
				    if (index > -1) {
                        $scope.catalogs_local.splice(index, 1);
                    }
			}).error(function (data, status, headers, config) {
				console.log('deleteCatalog error',status); 
			});
      	    
	}	
	
	$scope.getCatalogLocal();
	$scope.getCatalogRemote();
	
	
	//////////////////////////////////////////////////////////////////////////
	
	$scope.applications = [];
	$scope.getApps = function(){
	    console.log('get applications  ');
		var url = "/admin/apps"; 
	    $scope.getDataByURL(url,function(data){
		    console.log('get applications ',data);
		    $scope.applications = data;			
		});
	}
	$scope.deleteAppCatalog = function(name,url){
	    console.log('deleteAppCatalog  ');
		$http({
				url: "/admin/app/"+name+"?url="+url,
				method: "DELETE",
			}).success(function (data, status, headers, config) {
				    console.log('deleteAppCatalog  ',status,data);
					/*
				    var index = -1;
					for(var i=0;i<$scope.applications.length;i++){
					   if($scope.applications[i].name == name){
					      index = i;
					   }
					}
				    if (index > -1) {
                        $scope.applications.splice(index, 1);
                    }
					*/
			}).error(function (data, status, headers, config) {
				console.log('deleteCatalog error',status); 
			});
	}
    $scope.getApps();	
})

angular.element(document).ready(function() {
    //Fixing facebook bug with redirect
    if (window.location.hash === '#_=_') window.location.hash = '#!';

    //Then init the app
    //angular.bootstrap(document, ['mean']);
});  
    	
</script>  

	
  </body>



  </body>