<style>
/* Footer
-------------------------------------------------- */

footer {
margin-top:70px;
display: block;
background: white;
border-top: 1px solid #e5e5e5;
background-color: white;
text-align: center;
}

footer p {
  margin-bottom: 0;
  color: #777;
}

footer nav{
margin: 20px 45px 5px 30px;
display: block;
}

footer  ul  {
}
footer  ul li {
   float:left;
   list-style: none;
   margin-left:10px;
}
</style>
<footer class=''>
  <nav id='footer-nav'>
    <ul class='footer-links  span8 offset2'>

    </ul>
    <ul class='copyright span4 offset2'>
        <li><small>Copyright &copy; <%= locals.year %> Liverpool university Electrical Electronicss All rights reserved.</small></li>
    </ul>
    <ul class='credits span4 offset2'>
       <li></li>
    </ul>
	
	<div class="container-fluid">
		<a href="#" id="scrollTop">scroll to top</a>
	</div>
  </nav>
</footer>