<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-responsive.css" rel="stylesheet">    
    <script src="/assets/js/jquery-1.9.1.min.js"></script>	
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
body {
  text-align: center;
  background-image: -webkit-radial-gradient(center top, circle farthest-corner, #FFFFFF 0%, #D8DFE9 100%);
  background-image: radial-gradient(circle farthest-corner at center top, #FFFFFF 0%, #D8DFE9 100%);
}
 .content{
     position: relative;
	margin-top:140px;	 
 }
#map-canvas {
        margin: auto 0;
		width:1200px;
        height: 600px;
} 
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script>
var map;
var parkings = [ 
        {'space':153,'disabled':5,'no':'256/17','name':'Electrical Engineering','lat':53.406864901895695,'lng':-2.9648105800151825}
	   ,{'space':16,'disabled':1,'no':'256/17','name':'Computer Labs','no':'20','lat':53.406743382151234,'lng':-2.9637926816940308} 
	   ,{'space':98,'disabled':4,'no':'256/20','name':'Elizabeth Street','lat': 53.40764517830018,'lng':-2.9656702280044556}
	   ,{'space':22,'disabled':1,'no':'256/21','name':'Ashton Street','lat':53.40768994782367,'lng':-2.966257631778717} 
	   ,{'space':17,'disabled':0,'no':'18','name':'Physiology','lat':53.407203876190295,'lng':-2.9643291234970093}
];
function initialize() {
    var mapOptions = {
      zoom: 19,
      center: new google.maps.LatLng(53.406864901895695,-2.9648105800151825),
      mapTypeId: google.maps.MapTypeId.SATELLITE
    };
    map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
    google.maps.event.addListener(map, 'click', function( event ){
        console.log( "Latitude: "+event.latLng.lat()+" "+", longitude: "+event.latLng.lng() );      
    });
	map.setTilt(45);
	
// Try HTML5 geolocation
  if(navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var pos = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
      
      var infowindow = new google.maps.InfoWindow({
        map: map,
        position: pos,
        content: 'Location found using HTML5.'
      });

      map.setCenter(pos);
    }, function() {
      handleNoGeolocation(true);
    });
  } else {
    // Browser doesn't support Geolocation
    handleNoGeolocation(false);
  }	
	
	for(var i=0;i<parkings.length;i++){
	    console.log(parkings[i].space,parkings[i].name, parkings[i].lat, parkings[i].lng);
        setTimeout(function() {  }, i * 200);
        createMarker(parkings[i]); 		
	}  
}


function handleNoGeolocation(errorFlag) {
  if (errorFlag) {
    var content = 'Error: The Geolocation service failed.';
  } else {
    var content = 'Error: Your browser doesn\'t support geolocation.';
  }

}



function buildContent(data){
   var contentString = 
    '<div id="content">'+
      '<div id="siteNotice">'+'</div>'+   
      '<h1 id="firstHeading" class="firstHeading">'+ data.name +'</h1>'+
      '<div id="bodyContent">'+
          '<p><b>'+ data.name +'</b>, has '+ data.space +'<b> available spaces</b> in total and '+ data.disabled +' spaces for <b>disabled</b> ' +
          '<p>visit: <a href="http://www.liv.ac.uk/facilities-management/services/vehicle-parking/">'+'Vehicle parking in University of Liverpool</a> '+ '(for more information).</p>'+
          '<p>visit: <a href="http://www.liv.ac.uk/media/livacuk/facilities-management/policies-and-procedures/map.pdf/"  target="_blank">'+'Campus Car Park Map</a> '+ '.</p>'+
          '<p>visit: <a href="http://www.liv.ac.uk/media/livacuk/facilities-management/policies-and-procedures/8.pdf/"  target="_blank" >'+'Off-site Campus Car Parking Map</a> '+ '.</p>'+		  
      '</div>'+
    '</div>';    
   return contentString;
}
 
var infowindow;
 
function createMarker(data) {
      var marker = new google.maps.Marker({       
        position: new google.maps.LatLng(data.lat,data.lng), 
        map: map,
		title: data.name+' has '+data.space+' in total, and '+data.disabled+' spaces for disabed ',
        draggable: false,
        animation: google.maps.Animation.DROP				
      });   
      marker.data = data;	  
      google.maps.event.addListener(marker, 'click', function() { 
		 map.panTo(marker.position);
         infowindow = new google.maps.InfoWindow({
            content: buildContent(marker.data)
         });		 
         infowindow.open(map,marker);		 
      }); 
	  /*
	  google.maps.event.addListener(marker, 'mouseover', function() { 
	      console.log('marker    mouseover   ');
	  })
	  google.maps.event.addListener(marker, 'mouseout', function() { 
	      console.log('marker    mouseout   ');		  
	  })
	  */
      return marker;  
}

google.maps.event.addDomListener(window, 'load', initialize);

/*
  var flightPlanCoordinates = [
    new google.maps.LatLng(37.772323, -122.214897),
    new google.maps.LatLng(21.291982, -157.821856),
    new google.maps.LatLng(-18.142599, 178.431),
    new google.maps.LatLng(-27.46758, 153.027892)
  ];
  var flightPath = new google.maps.Polyline({
    path: flightPlanCoordinates,
    geodesic: true,
    strokeColor: '#FF0000',
    strokeOpacity: 1.0,
    strokeWeight: 2
  });

  flightPath.setMap(map);
  
 /////////  https://developers.google.com/maps/documentation/javascript/examples/user-editable-shapes 
  var bounds = new google.maps.LatLngBounds(
      new google.maps.LatLng(44.490, -78.649),
      new google.maps.LatLng(44.599, -78.443)
  );

  // Define a rectangle and set its editable property to true.
  var rectangle = new google.maps.Rectangle({
    bounds: bounds,
    editable: true
  });

  rectangle.setMap(map);  
  http://138.253.114.126:81/monitor2.htm#
*/
    </script>
  </head>
  <body>
    <div class="wrapper">
	    <div class="inner-wrapper">			
            <% include header %>	     			
			<div class="container-fluid " style="margin-top:80px;margin-bottom:40px; border-bottom: 1px solid #ccc;padding-bottom:30px;">
			    <div id="map-canvas"></div>
			</div>     
			<!-- <img src="http://138.253.114.126:81/videostream.cgi?user=admin&amp;pwd=&amp;resolution=8&amp;rate=0" id="video_stream">  
			<div>
			    <button onclick="up_onmouseup()"> mouse up </button>
			    <button onclick="up_onmousedown()"> mouse down </button>
                <button onclick="leftup_onmouseup()"> mouse left </button>
                <button onclick="right_onmouseup()"> mouse right </button>				
			</div>
			-->
            <% include footer %>
			
		</div>
	</div>
<!--	
<script>

	
var record_osd=1;
var ptz_type=0;
var ERROR_TIMEOUT=-3;
var ERROR_CANCEL=-5;
var current=0;
var PRI_REFUSE=0;
var PRI_VISITOR=1;
var PRI_OPERATOR=2;
var PRI_ADMINISTRATOR=3;
var R160_120=2;
var R320_240=8;
var R640_480=32;
var PTZ_STOP=1;
var TILT_UP=0;
var TILT_UP_STOP=1;
var TILT_DOWN=2;
var TILT_DOWN_STOP=3;
var PAN_LEFT=4;
var PAN_LEFT_STOP=5;
var PAN_RIGHT=6;
var PAN_RIGHT_STOP=7;
var PTZ_LEFT_UP=90;
var PTZ_RIGHT_UP=91;
var PTZ_LEFT_DOWN=92;
var PTZ_RIGHT_DOWN=93;
var PTZ_CENTER=25;
var PTZ_VPATROL=26;
var PTZ_VPATROL_STOP=27;
var PTZ_HPATROL=28;
var PTZ_HPATROL_STOP=29;
var PTZ_PELCO_D_HPATROL=20;
var PTZ_PELCO_D_HPATROL_STOP=21;
var IO_ON=94;
var IO_OFF=95;
var cameras={};
var listen_src="";
var talk_src="";
var listen_on_src="";
var talk_on_src="";
var record_src="";
var record_on_src="";

cameras.alias=new Array();
cameras.host=new Array();
cameras.port=new Array();
cameras.user=new Array();
cameras.pwd=new Array();
cameras.pri=new Array();
cameras.valid=new Array();
cameras.restart=new Array();
cameras.retry_times=new Array();
cameras.count=1;
cameras.first=0;
cameras.pri[0]=cameras.pri[1]=cameras.pri[2]=cameras.pri[3]=0;
cameras.pri[4] = cameras.pri[5] = cameras.pri[6] = cameras.pri[7] = 0;
cameras.pri[8] = 0;

var resolution=8;
var brightness=100;
var contrast=4;
var mode=0;
var flip=2;
var fps=0;

cameras.set_params=function(index,alias,host,port,user,pwd)	{ 
	 if ((index > 8) || (index < 0))
		return;
	this.alias[index]=alias;
	this.host[index]=host;
	this.port[index]=port;
	this.user[index]=user;
	this.pwd[index]=pwd;}
cameras.set_count=function(current,count){  
	if(count > 9)
		count = 9;
	if ((count > 4) && (count < 9))
		count = 4;
	if (count < 1 || ((count > 1) && (count <4)))
		count = 1;	
	this.count=count;
	if (parseInt(current) + parseInt(count) > 9)
		this.first = 9 - count;	
	else
		this.first=current;
	for (i = 0;i < 9;++ i)
		this.valid[i]=0;
	for (i=this.first;i<parseInt(this.first)+parseInt(this.count);++i)
		this.valid[i]=1;		}
function decoder_control(command)
{ 
	action_zone.location='http://138.253.114.126:81/'+'decoder_control.cgi?command='+command;	
}
function camera_control(param,value)
{ action_zone.location='camera_control.cgi?param='+param+'&value='+value;}
function pic_rspeed(value)
{ 
	video_stream.src='videostream.cgi?user='+ user +'&pwd='+ pwd +'&resolution='+ resolution +'&rate='+value;
}
function set_reversal(){if (flip&0x01){
		flip=flip&0x02;			
	}else
		flip=flip|0x01;	
	camera_control(5,flip);
}
function set_mirror(){	
    if (flip&0x02)
		flip=flip&0x01;
	else
		flip=flip|0x02;
	camera_control(5,flip);
}

function showhint(str){	
hint_span.innerText=str;
}
function OnResolutionChanged(nValue){	
	camera_control(0,nValue);
	setTimeout('location.reload()',2000);
}
function up_onmousedown() {
     console.log('up_onmousedown');
	(flip&0x01)?decoder_control(TILT_DOWN):decoder_control(TILT_UP);
}
function up_onmouseup() {

    console.log('up_onmouseup');
	if (!ptz_type)
		decoder_control(PTZ_STOP);
	else if (flip&0x01)
		decoder_control(TILT_DOWN_STOP);
	else	
		decoder_control(TILT_UP_STOP);
}
function down_onmousedown() {
	(flip&0x01)?decoder_control(TILT_UP):decoder_control(TILT_DOWN);
}
function down_onmouseup() {
	if (!ptz_type)
		decoder_control(PTZ_STOP);
	else if (flip&0x01)
		decoder_control(TILT_UP_STOP);
	else
		decoder_control(TILT_DOWN_STOP);	
}
function left_onmousedown() {
	(flip&0x02)?decoder_control(PAN_RIGHT):decoder_control(PAN_LEFT);
}
function left_onmouseup() {
	if (!ptz_type)
		decoder_control(PTZ_STOP);
	else if (flip&0x02)
		decoder_control(PAN_RIGHT_STOP);
	else	
		decoder_control(PAN_LEFT_STOP);	
}
function leftup_onmousedown() {
	(flip&0x01)?decoder_control(PTZ_RIGHT_UP):decoder_control(PTZ_LEFT_UP);
}
function leftup_onmouseup() {
    console.log('leftup_onmouseup');
	decoder_control(PTZ_STOP);
}
function leftdown_onmousedown() {
(flip&0x01)?decoder_control(PTZ_RIGHT_DOWN):decoder_control(PTZ_LEFT_DOWN);}
function leftdown_onmouseup() {
	decoder_control(PTZ_STOP);	
}		
function right_onmousedown() {
	(flip&0x02)?decoder_control(PAN_LEFT):decoder_control(PAN_RIGHT);}
function right_onmouseup() {
    console.log('right_onmouseup');
	if(!ptz_type)
		decoder_control(PTZ_STOP);
	else if(flip&0x02)
		decoder_control(PAN_LEFT_STOP);
	else	
		decoder_control(PAN_RIGHT_STOP);}
function rightup_onmousedown() {
	(flip&0x01)?decoder_control(PTZ_LEFT_UP):decoder_control(PTZ_RIGHT_UP);}
function rightup_onmouseup() {
	decoder_control(PTZ_STOP);
}
function rightdown_onmousedown() {
	(flip&0x01)?decoder_control(PTZ_LEFT_DOWN):decoder_control(PTZ_RIGHT_DOWN);}
function rightdown_onmouseup() {
	decoder_control(PTZ_STOP);
}
</script>

<iframe name="action_zone" id="action_zone" style="display:none"></iframe>	

-->
  </body>
</html>