/*  ==========================================================================
    HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
    ========================================================================== */

    html, button, input, select, textarea {color: #222; } body {font-size: 1em; line-height: 1.4; } ::-moz-selection {background: #b3d4fc; text-shadow: none; } ::selection {background: #b3d4fc; text-shadow: none; } hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; } img {vertical-align: middle; } fieldset {border: 0; margin: 0; padding: 0; } textarea {resize: vertical; } .chromeframe {margin: 0.2em 0; background: #ccc; color: #000; padding: 0.2em 0; }

/*  ==========================================================================
    0. IMPORTS
    ========================================================================== */

    @import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300);

/*  ==========================================================================

    Copyright 2013 www.redninja.co.uk
    Design and Code: Red Ninja Studios (Steven Hassall)

    COLOURS

    Black:              #141414;

    Primary Blue:       #2599C1;
    Mid Blue:           #134D61;
    Dark Blue:          #092630;

    Primary Pink:       #CE1D6F;
    Mid Pink:           #9B1653;
    Dark Pink:          #670F38;

    Gold:               #CEB61D;
    Mid Gold:           #675B0F;
    Dark Gold:          #342E07;

    STRUCTURE

    0. Imports
    1. Base
    2. Layout
    3. Typograhy
    4. Buttons
    5. Images
    6. Menu
    7. Hexagons
    8. Forms
    9. Animations (CSS3)
    10. Media Queries (Responsive)
    11. Helper Classes
    12. Print


    ========================================================================== */

/*  ==========================================================================
    1. BASE
    ========================================================================== */

    html {height: 100%; font-size: 100%; overflow-y: scroll; 
        -webkit-text-size-adjust: 100%;
        } /* Force scrollbar in non-IE and Remove iOS text size adjust without disabling user zoom */
    body {font-size: 1em; line-height: 1.625em; margin: 0; padding: 0; height:100%; min-height: 100%; 
        -webkit-font-smoothing:antialiased; 
        ont-smoothing:antialiased; 
        text-rendering:optimizeLegibility;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; color:#FFFFFF;background-color:#141414;
        background-image: url(http://basehold.it/i/26/555555);  /* 26px baseline */ 

    }

    .wrapper {width:990px; margin:0 auto;}
    .blue {color: #2599C1;}
    .pink {color: #CE1D6F;}


/*  ==========================================================================
    2. Layout
    ========================================================================== */
    
    .meeting-room #container {min-height:100%; width:100%; background: #141414 url('../img/hexagon_BG.png') repeat 100% 0% scroll;}
        .svg .meeting-room #container {background: #141414 url('../img/svg/hexagon_BG.svg') repeat 100% 0% scroll;}

        #banner {
            padding:0 0 1.625em 0; margin-top: 3.25em; display:block;
            border-top: 4px #670F38 solid;
        }
            #navbar {background-color: #2F3B52}

        #main {clear:both; z-index:0;}
            #app-description {z-index:99;}
            .app-meeting {z-index: 10}

        #footer {
            padding-bottom:3.25em;
            width:100%;
            clear:both;
            bottom:0;
        }
            footer div {}
                footer div:first-child {float:left; margin-left:3.25em;}
                footer div:last-child {text-align: right; margin-right:3.25em;}
          
            small {display:block; padding:1.625em 0 1.625em 0;}


        /* APPS */

        /*#app-meeting {
            width:90%; position:absolute; 
            right: 72px;
            top: 560px;
        }*/

        #app-meeting {
            height: 100%;
            padding-top: 35em; padding-left: 3em;
            margin-right: 4.5em; margin-bottom: 13em;
        }

        #app-social {}


/*  ==========================================================================
    3. Typography

    BASELINE FROM '1.61803398875' (GOLDEN RATIO);
    13px (0.8125em)
    26px (1.625em)
    52px (3.25em)
    78px (4.875em)
    104px (6.5em)

    ^^ Baseline calculation = desired baseline (ie 3.25em) / font-size
    

    FONT-SIZE 

    FONT-SIZE HIERARCHY = 13px, 16px, 28px, 44px, 72px, 116px

    13px = 0.8125em {13/16 = 0.8125} // 16px = 1em {16/16 = 1} // 28px = 1.75em {28/16 = 1.75} // 44px = 3.25em {44/16 = 2.75} // 72px = 4.5em {72/16 = 4.5} // 116px = 7.25em {116/16 = 7.25}
    
    FONT-SIZE-SPECIAL;    
    68px = 4.25em {68/16 = 4.25} // 100px = 6.25em {100/16 = 6.25}


    LINE-HEIGHT;         
    26px = 1.625em {26/16 = 1.625} --------------------------------------------------------------] // 52px = 3.25em {52/16 = 3.25} ------------------------------------]
    ========================================================================== */

    h1, h2, h3, h4, h5, h6 {font-family: 'Roboto Condensed', sans-serif; font-weight:700; color:#FFFFFF; margin: 0 0 26px 0;} 
        
        /* desired line-height / font-size */

        h1 {font-size: 4.5em; line-height: 1.0833em; margin-bottom:0.26em;} 
            #banner h1 {
                display: inline;
                border-bottom: 4px #670F38 solid;
                margin-bottom: 0.27083em;
                line-height: 1.3em;
                clear: both;
            }
        h2 {font-size: 1.75em; line-height: 26px;}
        h3 {font-size: 1em; line-height: 26px;} 
        h4 {font-size: 1em; line-height: 26px;} 
        h5 {font-size: 1em; line-height: 26px;} 

    p, ul, blockquote, pre, td, th, label, time {color:#FFFFFF; font-size: 1em; line-height: 1.625em; margin: 0 0 1.625em 0; } 
        p.doubleSpace {margin-bottom:3.25em;}

    small, small p {font-size: 0.8125em; line-height: 2em; display:block;} /* 1.625em (desired line-height) / 0.8125em (font-size) */

    a {text-decoration:underline; color:#2599C1;} a:hover {color:#CE1D6F;}
        .logo {display: block;}

        footer ul li a {text-decoration: none;}

    button {background:none; border:none;}
        button span {display: none;}


    /*  Bullet lists  */

    ul {
        list-style-type:none; margin: 0 0 1.625em 0; padding:0;
    }

        #navbar ul li {
            display: inline-block;
        }
        footer ul li:before {content: "\bb"; padding-right:0.25em; color:#CEE6EB;}

        .app-content ul {list-style: none; margin:0;}
            .app-content ul li {
                display: inline-block; 
                margin-left: -44px;
                margin-bottom: -90px;
            }

    
    /*  Navigation  */
    
    nav {/*margin-top:3.25em;*/ margin-bottom:1.625em; float:right}
        nav ul, nav div ul {list-style-type:none; margin: 0 0 1.625em 0; padding:0; margin:0;}
            nav ul li, nav div ul li {
                
            }
            
            nav ul li.last {
               padding-right: 0em; 
               border:none;
            }
            
            nav ul li.first {
               margin: 0 ; padding-left: 0em; padding-right:1.625em;
            }
            
           li.home a {
                display:inline-block;
            }
            
            nav ul li span.home {
                display:block;
                width:30px;
                height:30px;
                background:url('../img/icons/home.png') no-repeat center center;
            }
            
            .svg nav ul li span.home {
                background:url('../img/icons/svg/home.svg') no-repeat center center;
            }
                
    table {border-collapse: collapse; margin-bottom: 1.625em; }

    .alignRight {text-align: right;}
    .alignCentre {text-align: center;}


/*  ==========================================================================
    4. Buttons
    ========================================================================== */

    .nav-button { display: none; } /* hide the navigation button by default */

    /*  Block Buttons  */
    .button, .buttonSlateDark {
        text-decoration:none; background-color: #CEE6EB; padding: 0.8125em 1.625em;
        margin-bottom:1.625em;
        -moz-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 2px rgba(255,255,255,0.6);
        -webkit-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 2px rgba(255,255,255,0.6);
        box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 2px rgba(255,255,255,0.6);
        -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;}
        .buttonSlateDark {background-color: #2F3B52; color: #ffffff;}
        .buttonSlateDark:hover {color: #FFF; background-color: #721A71;}

        .button:after, .buttonSlateDark:after {
            content: "\BB"; padding-left:8px; text-decoration: none;
        }

        .bigList .button {position: absolute; right:0; top:1.625em;}
        input.button {width: 50%;}


    .buttonBig { 
        font-family: 'Roboto Condensed', sans-serif; font-size: 1.125em;
        display:inline-block; color: #ffffff; background-color: #2F3B52;
        text-align:center; font-weight: 700; padding: 1.625em 2.5em;  
        margin-bottom:1.625em; text-decoration:none; border: 1px solid #596275;
        -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
        -moz-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 2px rgba(255,255,255,0.6);
        -webkit-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 2px rgba(255,255,255,0.6);
        box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 2px rgba(255,255,255,0.6);} 
        .buttonBig:after {content: "\BB"; padding-left:8px;}
            .buttonBig:hover {color:#CEE6EB;}
 
    .buttonBigSlateDark {color: #ffffff; background-color: #2F3B52;  
        text-decoration:none; border: 1px solid #596275;
        text-shadow: 1px 1px 0px rgba(0,0,0, 0.3);
        } 
        .buttonBigSlateDark:hover {color: #FFF; background-color: #721A71;}


/*  ==========================================================================
    5. Images
    ========================================================================== */

    .newsletter img {margin-bottom: 1.625em;}

    span.alt {display: none;}

    .page-template-template-landlord-directory-php figure {}
        .page-template-template-landlord-directory-php figure figcaption {margin-top: 0.8125em;}

    .logo-arm {
        width: 202px; height: 62px;
        display: inline-block;
        background: url('../img/ARM-RGB.png') no-repeat 50% 50%; background-size: 100%;
    }
        .svg .logo-arm {
            background: url('../img/svg/ARM-RGB.svg') no-repeat 50% 50%; background-size: 100%;
        } .svg .logo-arm img {display: none;}

    .maskCircle {
        -webkit-border-radius: 50%;
           -moz-border-radius: 50%;
                border-radius: 50%;
    }


    /* Icons */

    /* Sidebar */


/*  ==========================================================================
    6. Menu
    ========================================================================== */

    /* General styles for all menus */
    .cbp-spmenu {
        background: #092630;
        position: fixed; left: -16em; top: 0; z-index: 1000;
        width: 16em; height: 100%;
    }
        .cbp-spmenu.cbp-spmenu-open {
            left: 0px;
        }

    .cbp-spmenu h3 {
        color: white;
        font-size: 1.75em;
        padding: 1em;
        margin: 0;
        font-weight: 700;
        background: #2599C1;
    }

    .cbp-spmenu a {
        display: block; text-decoration: none;
        color: #fff; font-size: 1em; font-weight: 300;
        border-bottom: 1px solid #141414; 
        padding: 1.625em;
    }

        .cbp-spmenu a:hover {
            background: #141414;
        }

        .cbp-spmenu a:active {
            background: #2599C1; color: #47a3da;
        }

    #showLeft {
        font-family: 'Roboto Condensed', sans-serif; font-weight: 700;
        position: absolute; top:3.25em; left:3.25em; 
        color:white;
        } #showLeft:hover {color: #CE1D6F;}

    .cbp-spmenu button {float:right; color:white;}
        .cbp-spmenu button:hover {color:#141414;}

    /* Transitions */

    .cbp-spmenu {
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    /* Example media queries */

    @media screen and (max-height: 26.375em){

        .cbp-spmenu {
            font-size: 90%;
            width: 190px;
            left: -190px;
        }

    }

/*  ==========================================================================
    7. Hexagons
    ========================================================================== */

    div.hexagon {
        width:232px; height:200px; display:block; float:right; position: relative;
        /* margin-left: -2.6em; margin-bottom: -5.6em;
        margin-left: -44px;  margin-bottom: -90px;*/
        background: url('../img/hexagon_active.png') no-repeat 50% 50% scroll;
        text-align: center;

    }   .svg .hexagon {background: url('../img/svg/hexagon_active.svg') no-repeat 50% 50% scroll;}

        #app-meeting li div.ch-item {}
        #app-meeting li:nth-child(even) div.ch-item {/*margin-top: 7em;*/ margin-top: 112px;}
        .hover {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        /* COLOUR STATES */

        .available .ch-info-front {background: url('../img/hexagon_available.png') no-repeat 50% 50% scroll;}
        .svg .available .ch-info-front {background: url('../img/svg/hexagon_available.svg') no-repeat 50% 50% scroll;}

        .available .ch-info-back {background: url('../img/hexagon_available-rear.png') no-repeat 50% 50% scroll;}
        .svg .available .ch-info-back {background: url('../img/svg/hexagon_available-rear.svg') no-repeat 50% 50% scroll;}

        .unavailable .ch-info-front {background: url('../img/hexagon_unavailable.png') no-repeat 50% 50% scroll;}
        .svg .unavailable .ch-info-front {background: url('../img/svg/hexagon_unavailable.svg') no-repeat 50% 50% scroll;}

        .unavailable .ch-info-back {background: url('../img/hexagon_unavailable-rear.png') no-repeat 50% 50% scroll;}
        .svg .unavailable .ch-info-back {background: url('../img/svg/hexagon_unavailable-rear.svg') no-repeat 50% 50% scroll;}

        /* FLIP ANIMATION */
        .ch-grid {
            margin: 0;
            padding: 0;
            list-style: none;
            display: block;
            width: 100%;
        }

        .ch-grid:after,
        .ch-item:before {
            content: '';
            display: table;
        }

        .ch-grid:after {
            clear: both;
        }

        .ch-grid li {float:right;
            
        }

        .ch-item {
            width:232px; height:200px;
            position: relative;
            cursor: default;
            z-index: 1;
        }

        .ch-info-wrap {
            position: absolute;
            width: 100%;
            height: 100%;

            -webkit-perspective: 800px;
            -moz-perspective: 800px;
            -o-perspective: 800px;
            -ms-perspective: 800px;
            perspective: 800px;

            -webkit-transition: all 0.4s ease-in-out;
            -moz-transition: all 0.4s ease-in-out;
            -o-transition: all 0.4s ease-in-out;
            -ms-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;

        }

        .ch-info {
            position: absolute;
            width: 100%;
            height: 100%;

            text-align: center;

            -webkit-transition: all 0.4s ease-in-out;
            -moz-transition: all 0.4s ease-in-out;
            -o-transition: all 0.4s ease-in-out;
            -ms-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
                
            -webkit-transform-style: preserve-3d;
            -moz-transform-style: preserve-3d;
            -o-transform-style: preserve-3d;
            -ms-transform-style: preserve-3d;
            transform-style: preserve-3d;

        }

        .ch-info > div {
            display: block;
            position: absolute;

            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            -o-backface-visibility: hidden;
            -ms-backface-visibility: hidden;
            backface-visibility: hidden;
        }

        .ch-info .ch-info-back {
            margin-left: -44px;
            -webkit-transform: rotate3d(0,1,0,180deg);
            -moz-transform: rotate3d(0,1,0,180deg);
            -o-transform: rotate3d(0,1,0,180deg);
            -ms-transform: rotate3d(0,1,0,180deg);
            transform: rotate3d(0,1,0,180deg);
        }

        /* HOVER INTERACTIVITY */

        .flipped .ch-info-wrap {
            margin-left: -44px;
        }

        .flipped .ch-info {
            -webkit-transform: rotate3d(0,1,0,-180deg);
            -moz-transform: rotate3d(0,1,0,-180deg);
            -o-transform: rotate3d(0,1,0,-180deg);
            -ms-transform: rotate3d(0,1,0,-180deg);
            transform: rotate3d(0,1,0,-180deg);
        }

        /*.ch-item:active .ch-info-wrap {
            margin-left: -44px;
        }

        .ch-item:active .ch-info {
            -webkit-transform: rotate3d(0,1,0,-180deg);
            -moz-transform: rotate3d(0,1,0,-180deg);
            -o-transform: rotate3d(0,1,0,-180deg);
            -ms-transform: rotate3d(0,1,0,-180deg);
            transform: rotate3d(0,1,0,-180deg);
        }*/


        /* BRAND LOGOS */

        #app-brand {
            position: absolute;
            top: 7em;
            right: 4.5em;
        }
            .meetings .ch-info-front {background: url('../img/hexagon_meetings.png') no-repeat 50% 50% scroll;}
            .svg .meetings .ch-info-front {background: url('../img/svg/hexagon_meetings.svg') no-repeat 50% 50% scroll;}

        /* TYPOGRAPHY */

        .hexagon h1 {font-size: 4.25em; padding-top:1em;}
        .ch-info-back h2 {font-size:3.25em; margin-bottom:0.25em; padding-top:1.625em; }
        .ch-info-back h3 {
            font-size: 1.625em;
            line-height: 26px;
            margin-bottom: 0;
            /* padding-top: 3.25em; */
            padding-top: 0;
        }
            #app-brand h3 {padding-top: 0;}
        .ch-info-back h4 {margin-bottom: 0;}

        #app-brand .ch-info-back i {display: block; padding-top: 1.625em; margin-bottom:0.25em;}
        .ch-info-back a {text-decoration: none; border: none; z-index: 10;}
        

        /* hex buttons */

        .ch-info button {
            height:32px; width:32px;
        }

            .icon-telephone {
                background: #670F38 url('../img/icon_telephone.png') no-repeat 50% 50%; 
                background-size: 100%;
            }
                .svg .icon-telephone {
                background: #670F38 url('../img/svg/icon_telephone.svg') no-repeat 50% 50%; 
                background-size: 100%;
            }

            .icon-information {
                background: #670F38 url('../img/icon_information.png') no-repeat 50% 50%; 
                background-size: 100%;
            }
                .svg .icon-information {
                background: #670F38 url('../img/svg/icon_information.svg') no-repeat 50% 50%; 
                background-size: 100%;
            }

            .icon-email {
                background: #670F38 url('../img/icon_email.png') no-repeat 50% 50%; 
                background-size: 100%;
            }
                .svg .icon-email {
                background: #670F38 url('../img/svg/icon_email.svg') no-repeat 50% 50%; 
                background-size: 100%;
            }

                .icon-information:hover,
                .icon-telephone:hover {background-color: #134D61;}

                .available .icon-information,
                .available .icon-telephone,
                .available .icon-email {background-color: #134D61;}
                    .available .icon-information:hover,
                    .available .icon-telephone:hover,
                    .available .icon-email:hover {background-color: #670F38;}

            .ch-info-back .icon-arrow_right {font-size: 0.8125em; color: #670F38;}

            .bookerPhoto {
                height:3.25em; width:3.25em; 
                margin:0 auto; margin-top:1.625em; overflow: hidden;
                border: 4px #670F38 solid;
            }
                .available .bookerPhoto {border: 4px #134D61 solid;}

            .bookerPhoto img {max-width: 100%}


/*  ==========================================================================
    8. Forms
    ========================================================================== */


/*  ==========================================================================
    9. Animations
    ========================================================================== */
    
    a {
        -webkit-transition: all 200ms ease-in-out;
        -moz-transition:all 200ms ease-in-out;
        -ms-transition:all 200ms ease-in-out;
        transition:all 200ms ease-in-out;
    } 

    /* Image animations  */
    body { /* Addresses a small issue in webkit: http://bit.ly/NEdoDq */
    -webkit-backface-visibility: hidden;
    }
    .animated {
        -webkit-animation-duration: 1s;
           -moz-animation-duration: 1s;
             -o-animation-duration: 1s;
                animation-duration: 1s;
        -webkit-animation-fill-mode: both;
           -moz-animation-fill-mode: both;
             -o-animation-fill-mode: both;
                animation-fill-mode: both;
    }

    .animated.hinge {
        -webkit-animation-duration: 2s;
           -moz-animation-duration: 2s;
             -o-animation-duration: 2s;
                animation-duration: 2s;
    }

    /* Bounce Animations  */
    @-webkit-keyframes bounceInUp {0% {opacity: 0; -webkit-transform: translateY(30em); } 60% {opacity: 1; -webkit-transform: translateY(-0.5em); } 80% {-webkit-transform: translateY(0.5em); } 100% {-webkit-transform: translateY(0); } }

    @-moz-keyframes bounceInUp {0% {opacity: 0; -moz-transform: translateY(30em); } 60% {opacity: 1; -moz-transform: translateY(-0.5em); } 80% {-moz-transform: translateY(0.5em); } 100% {-moz-transform: translateY(0); } }

    @-o-keyframes bounceInUp {0% {opacity: 0; -o-transform: translateY(30em); } 60% {opacity: 1; -o-transform: translateY(-0.5em); } 80% {-o-transform: translateY(0.5em); } 100% {-o-transform: translateY(0); } }

    @keyframes bounceInUp {0% {opacity: 0; transform: translateY(30em); } 60% {opacity: 1; transform: translateY(-1em); } 80% {transform: translateY(1em); } 100% {transform: translateY(0); } }
    
    .bounceInUp {
        -webkit-animation-name: bounceInUp;
        -moz-animation-name: bounceInUp;
        -o-animation-name: bounceInUp;
        animation-name: bounceInUp;
        -webkit-animation-delay: 1s;
        -moz-animation-delay: 1s;
        -o-animation-delay: 1s;
        animation-delay: 1s;
    }

    /* Fade In Animations  */
    @-webkit-keyframes fadeInLeft {0% {opacity: 0; -webkit-transform: translateX(-20px); } 100% {opacity: 1; -webkit-transform: translateX(0); } }
    @-moz-keyframes fadeInLeft {0% {opacity: 0; -moz-transform: translateX(-20px); } 100% {opacity: 1; -moz-transform: translateX(0); } }
    @-o-keyframes fadeInLeft {0% {opacity: 0; -o-transform: translateX(-20px); } 100% {opacity: 1; -o-transform: translateX(0); } }
    @keyframes fadeInLeft {0% {opacity: 0; transform: translateX(-20px); } 100% {opacity: 1; transform: translateX(0); } } 

    .fadeInLeft {
        -webkit-animation-name: fadeInLeft;
        -moz-animation-name: fadeInLeft;
        -o-animation-name: fadeInLeft;
        animation-name: fadeInLeft;
        -webkit-animation-delay: 3s;
        -moz-animation-delay: 3s;
        -o-animation-delay: 3s;
        animation-delay: 3s;
    }


/*  ==========================================================================
    10. Media Queries
    ========================================================================== */

    /*  LARGE SCREEN  */

    @media only screen and (min-width:1921px) {
        .wrapper {width: 100%;}

        #banner,
        #app-description {margin-left:4.875em;}

        /* Typography */
        h1 {font-size: 6.25em; line-height: 1.04em; margin-bottom:0.26em;} 

    }

    
    /*  DESKTOP - DEFAULT  */

    @media only screen and (min-width:1057px) and (max-width:1920px) {

    }


    /*  TABLETS  */

    @media only screen and (min-width : 768px) and (max-width : 1024px) {

        .wrapper {width: 100%;}

        #banner,
        #app-description {margin-left:4.875em;}

            /* #app-meeting {
                top: 336px;
            }*/
            #app-meeting {
                padding-top: 21em;
            }

        /* MENU */
        #showLeft {left: 1em; top: 4em;}

        #footer {
            width: auto;
        }

        /*  Typography  */
        h1 {font-size: 2.75em; line-height: 1em; margin-bottom:0.25em;} 

    }


    /*  MOBILE  */

    @media only screen and (max-width:767px) {

        /*  Layout  */
        .wrapper {width: 86%;}

        #banner {border: none;}
            nav {width: 70%; margin-top: 2.25em;}

            #showLeft {
                position: relative;
                display: block;
                margin-top: -1.625em;
                top: 0;
                left: 0;
            }

            /*#app-meeting {
                top: 336px;
            }*/
        
            #app-meeting {
                height: 100%;
                padding-top: 21em; padding-left: 3em;
                margin-right: 4.5em; margin-bottom: 3.25em;
            }

        footer ,
        footer div:first-child,
        footer div:last-child {text-align: center; margin-right:0;}
           
            footer .alignRight {text-align: left; }
            footer small {padding-top:0;}


        /* Hexagons 

        #app-meeting div:first-child {margin-top: 0;}

        .hexagon {margin-top: 112px;}*/


        #app-meeting li div.ch-item:first-child {margin-top: 0;}
        #app-meeting li div.ch-item {/*margin-top: 7em;*/ margin-top: 112px;}

        .app-content ul li {
            margin-bottom: 24px;
        }
            

        /*  Typography  */
        #banner h1 {border-bottom: 2px #670F38 solid;}
        h1 {font-size: 2em; line-height: 1.047619em; }
        h4 {font-size: 1.25em; }

        .buttonBig {width: 70%;}

        nav a span {font-size: 1em; display: inline; text-transform: capitalize;}


        /*  Images  */
        .logo-arm {
        width: 10em;
        height: 5.5em;
        display: inline-block;
        margin-bottom: 0;
        background-size: 100%;
        }


        /*  Buttons  */
        .buttonBig {
            margin-bottom: 0.685em; padding: 1em 2.5em;
        }
       
        .button {
            width:100%;    
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            display:block;
            text-align:center;
        }
                

        /* Navigation Button
        -------------------------------------------------------- */

        .nav-button {
            display: block;
            float:right;
            right: 1em;
            margin: 0 auto;
            text-align: center;
            height: 3.25em;
            width: 3.25em;
            cursor: pointer;
            border: 0 none;
            border-radius: 5px;
            z-index: 999;
        }
        .nav-button:hover { 
            background-color: rgba(0,0,0,.1); 
        }
        .nav-button.open {
        }

        /* Navigation Drop Down
        -------------------------------------------------------- */

        #menu-header-menu {
            width: 100%;
            float: none;
            background-color: #CEE6EB; /* change the menu-header-menu color */
            background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
            background-image:    -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
            background-image:     -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
            background-image:      -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
            display: block;
            margin: 0;
            padding: 0;
            overflow: hidden;
            box-shadow: 0 1px 2px rgba(0,0,0,.6);
            position: absolute;
            top: -9em;
            left: 0px;
            z-index: 998;
            clear: both;
        }
        #menu-header-menu li {
            display: none;
            width: 100%;
            font-family: Arial;
        }
        #menu-header-menu li a {
            display: block;
            width: 90%;
            padding: 1.25em 5%;
            border-bottom: 1px solid rgba(255, 255, 255, .25); 
        }
        #menu-header-menu li a:hover {
            background-color: rgba(255,255,255,.1);
            border-top-color: transparent;
        }
        #menu-header-menu > li:first-child {
            
        }

        /* Toggle the navigation bar open  */

        #menu-header-menu.open { 
            height: auto;
            top: 6.875em;
        }
        #menu-header-menu.open li { 
            display: block; padding: 0; margin: 0;
        }

        /* Submenu-header-menus optional .parent class indicates dropdowns */

        #menu-header-menu > li:hover > a {
            background: rgba(255,255,255,.2);
            border-bottom-color: transparent;
        }
        #menu-header-menu li.parent > a:after {
            content: "â–¼";
            color: rgba(255,255,255,.5);
            float: right;
        }
        #menu-header-menu li.parent > a:hover {
            background: rgba(0,0,0,.75);
        }
        #menu-header-menu li ul {
            display: none;
            background: rgba(0,0,0,.5);
            border-top: 0 none;
            padding: 0;
        }
        #menu-header-menu li ul a {
            border: 0 none;
            font-size: 12px;
            padding: 10px 5%;
            font-weight: normal;
        }
        #menu-header-menu li:hover ul {
                display: block;
                border-top: 0 none;
        }

    }

    @media print,
        (-o-min-device-pixel-ratio: 5/4),
        (-webkit-min-device-pixel-ratio: 1.25),
        (min-resolution: 120dpi) {

    }


/*  ==========================================================================
    11. Helper classes
    ========================================================================== */

    .ir {background-color: transparent; border: 0; overflow: hidden; *text-indent: -9999px; } .ir:before {content: ""; display: block; width: 0; height: 150%; } .hidden {display: none !important; visibility: hidden; } .visuallyhidden {border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; } .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; } .invisible {visibility: hidden; } .clearfix:before, .clearfix:after {content: " "; display: table; } .clearfix:after {clear: both; } .clearfix {*zoom: 1; }


/*  ==========================================================================
    12. Print styles
    ========================================================================== */
    @media print {* {background: transparent !important; color: #000 !important; /* Black prints faster: h5bp.com/s */ box-shadow: none !important; text-shadow: none !important; } a, a:visited {text-decoration: underline; } a[href]:after {content: " (" attr(href) ")"; } abbr[title]:after {content: " (" attr(title) ")"; } /* * Don't show links for images, or javascript/internal links */ .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {content: ""; } pre, blockquote {border: 1px solid #999; page-break-inside: avoid; } thead {display: table-header-group; /* h5bp.com/t */ } tr, img {page-break-inside: avoid; } img {max-width: 100% !important; } @page {margin: 0.5cm; } p, h2, h3 {orphans: 3; widows: 3; } h2, h3 {page-break-after: avoid; } 
    }
