<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="SensorMappingApp"> <!--<![endif]

http://stackoverflow.com/questions/20987535/plotting-points-on-a-map-with-d3

-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>ARM Dashboard Heatmap App</title>
	<meta name="author" content="Steven Hassall and Sizhe Xi ">
	<meta name="description" content="ARM Dashboard Sensor Monitoring Project">
    <meta name="viewport" content="width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=0, initial-scale=1">
    
    <link rel="stylesheet" href="/css/normalize.min.css">
    <!-- Gridset CSS -->
    <!--[if (!IE) | (gt IE 9)]><!--><link rel="stylesheet" href="/css/gridset.css"><!--<![endif]-->
    <!--[if IE 9]><link rel="stylesheet" href="./css/gridset-ie-9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="./css/gridset-ie-lte8.css" /><![endif]-->
    <link rel="stylesheet" href="css/mfglabs_iconset.css">
    <link rel="stylesheet" href="css/menu-component.css">
    <link rel="stylesheet" href="css/main.css">

	<script src="js/vendor/underscore-min.js"></script>			
    <script src="/assets/js/socket.io.js"></script>
    <script src="/assets/js/d3.v3.min.js"></script>
	<script src="/assets/js/angular.min.js"></script>
	<script src="js/vendor/underscore-min.js"></script>
    <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body>
<!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

    <div class="heatmap">
    <!-- START .meeting-room -->

        <div id="container" class="container" class="clearfix" ng-controller="mappingListCtrl">
        <!-- START #container -->

            <section class="mp-pusher" id="mp-pusher">

            	<!-- mp-menu -->
                    <nav id="mp-menu" class="mp-menu" > 
                        <div class="mp-level">
                            <button id="triggerMobile" class="mp-close d-hide t-hide"><i class="icon-cancel_circle icon2x"></i></button>
                            <h2><i class="icon-data_science blue"></i> ARM Buildings</h2>
                            <ul>

                                <li>
                                    <a href="#">ARM 1</a>
                                    <div class="mp-level">
                                        <h2><i class="icon icon-data_science_black blue"></i> ARM 1</h2>
                                        <a class="mp-back" href="#">back</a>
                                        <ul>
                                            <li><a class='room_nav' ng-click="getRoomInfo($event.target.href);$event.preventDefault()" href="/buildings/ARM1/0">Ground</a></li>
                                            <li><a class='room_nav' ng-click="getRoomInfo($event.target.href);$event.preventDefault()" href="/buildings/ARM1/1">Floor 1</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
								    <a href="#">ARM 2</a>
                                    <div class="mp-level">
                                        <h2><i class="icon icon-data_science_black blue"></i> ARM 2</h2>
                                        <a class="mp-back" href="#">back</a>
                                        <ul>
                                            <li><a class='room_nav' ng-click="getRoomInfo($event.target.href);$event.preventDefault()" href="/buildings/ARM2/0">Ground</a></li>
                                            <li><a class='room_nav' ng-click="getRoomInfo($event.target.href);$event.preventDefault()" href="/buildings/ARM2/1">Floor 1</a></li>
                                        </ul>
                                    </div>									
								</li>
                                <li>
								    <a href="#">ARM 3</a>
                                    <div class="mp-level">
                                        <h2><i class="icon icon-data_science_black blue"></i> ARM 3</h2>
                                        <a class="mp-back" href="#">back</a>
                                        <ul>
                                            <li><a class='room_nav' ng-click="getRoomInfo($event.target.href);$event.preventDefault()" href="/buildings/ARM3/0">Ground</a></li>
                                            <li><a class='room_nav' ng-click="getRoomInfo($event.target.href);$event.preventDefault()" href="/buildings/ARM3/1">Floor 1</a></li>
                                        </ul>
                                    </div>									
								</li>
                                <li>
								    <a href="#">ARM 6</a>
                                    <div class="mp-level">
                                        <h2><i class="icon icon-data_science_black blue"></i> ARM 6</h2>
                                        <a class="mp-back" href="#">back</a>
                                        <ul>
                                            <li><a class='room_nav' ng-click="getRoomInfo($event.target.href);$event.preventDefault()" href="/buildings/ARM6/0">Ground</a></li>
                                            <li><a class='room_nav' ng-click="getRoomInfo($event.target.href);$event.preventDefault()" href="/buildings/ARM6/1">Floor 1</a></li>
                                        </ul>
                                    </div>									
								</li>
                                <li>
								    <a href="#">CPC1</a>
                                    <div class="mp-level">
                                        <h2><i class="icon icon-data_science_black blue"></i> CPC1 </h2>
                                        <a class="mp-back" href="#">back</a>
                                        <ul>
                                            <li><a class='room_nav' ng-click="getRoomInfo($event.target.href);$event.preventDefault()" href="/buildings/CPC1/0">Ground</a></li>
                                            <li><a class='room_nav' ng-click="getRoomInfo($event.target.href);$event.preventDefault()" href="/buildings/CPC1/1">Floor 2</a></li>
                                        </ul>
                                    </div>									
								</li>
                                 								
                            </ul>
                                
                        </div>
                    </nav>
                    <!-- /mp-menu -->

                <div class="scroller">
                <div class="scroller-inner">
                <!-- start .scroller's -->
                
                <div class="wrapper">
                <!-- START .wrapper -->

                    <header id="banner" class="d1-d9 t1-t4 m-all clearfix" >
                    <!-- START #banner -->
                        <button id="trigger" onclick="_gaq.push(['_trackEvent', 'Menu', 'Toggle', 'Menu Toggle',, false]);"><i class="icon-reorder icon2x"></i></button>
                        <h1 ng-cloak>{{current_building}} <span class="blue" ng-cloak> {{current_floor}} FLOOR</span> LIVE <span class="pink">HEAT</span> MAP</h1>
                    <!-- END #banner -->
                    </header>

                    <article id="main" class="d1-d5 t1-t4 m-all clearfix">
                    <!-- START #main -->
                        <div id="app-brand" class="m-hide" ng-click="room.front = !room.front" ng-class="{'flipped': room.front}">
                            <div class="ch-item" >              
                                <div class="ch-info-wrap">
                                    <div class="ch-info meetings">
                                        <div class="ch-info-front hexagon"></div>
                                        <div class="ch-info-back hexagon">
                                            <a href="http://arm.redninja.co.uk" title="Return to the Home">
                                                <i class="icon-home icon3x" aria-hidden="true"></i>
                                                <h3>Home</h3>
                                            </a>
                                        </div>  
                                    </div>
                                </div>
                            </div>
                        </div>

                        <article id="app-description" class="t-hide m-hide" role="article">
                          <p>Please email any feedback to <a href="mailto:arm@redninja.co.uk" title="Email Feedback">arm@redninja.co.uk</a>.</p>
                          <!-- <p><a href="#popup-key" ng-click="openkey();" title="View Key" class="button">View Key</a></p> -->
                        </article>   
                    
                    <!-- END #main -->
                    </article>

                    <section id="app-heat" class="app-content clearfix">				
	                <!-- START #app-heat -->

	                	<section>

	                		<div class="d1-d4 t1-t3 m-all">
	                            <!--<h2 ng-click="showBigOverview()"> big </h2>
								<h2 ng-click="showSmallOverview()"> small </h2>
		                        <ul>
		                        	<li>22 +</li>
		                        	<li>19 - 21</li>
		                        	<li>- 18</li>
		                        </ul>

								<div>{{currentSite}}</div>
								<div>{{currentBuilding}}</div>
								<div>{{currentFloor}}</div>
		                    -->
							</div>

							<div class="d8-d12 t5-t8 m-all">
								<div class="heatmap-sidemenu">
									<a ng-click="showMenuTrigger()" href="#" title="Open Menu"><h3>Menu <i class="icon icon-reorder blue"></i></h3></a>
									<div class="accordian" ng-class="{'active':showMenu}">
										<ul ng-repeat='selected_building in selected_buildings'> 
										    <li ng-click="findBuildingInfo(selected_building.floor)">
			                                    {{selected_building.name}} {{selected_building.floor}}
											</li>
										</ul>
										<table id="table">				 
											<tr>
												<th>Room</th>
												<th>Temperature</th>
											</tr>							
											<tr class="room" ng-repeat="sensor in floor_sensors" ng-cloak  ng-mouseover="highlightRoom($index)">
												<td><span>{{sensor.name}}</span></td>
				                            	<td><span>{{sensor.temperature}}</span></td>
				                            </tr>
										</table>	
									</div>
								</div>
							</div>

	                    </section>
						
					<!-- END #app-heat -->
					</section>

                <!-- END .wrapper -->
                </div>

				<section class="map-content">
					<div class="content" >
						<div id="stations">
							<div id="map-wrapper">
								<svg class="map"></svg> <div id="map"></div>
							</div>
						</div>			
					</div>
				</section>
                

				<footer id="footer" class="clearfix">
				<!-- START #footer -->

				  <div>
				      <small>v0.1 Design &amp; Coded by <a href="http://www.redninja.co.uk" title="Design and Coded by Red Ninja Studios">Red Ninja Studios</a></small>
				  </div>

				  <div>
				      <a href="http://arm.com" class="logo-arm" title="ARM - Architecture for the digital world"><img src="img/ARM-RGB.png" alt="ARM - Architecture for the digital world" class="logo" /></a>
				  </div>

				<!-- END #footer -->
				</footer>

                <!-- end .scroller's -->
                </div>
                </div>

            </section>

        <!-- END #container -->
        </div>
    <!-- END .meeting-room -->
    </div>

    <script src="js/vendor/jquery-1.10.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/vendor/classie.js"></script>
    <script src="js/vendor/mlpushmenu.js"></script>
	
	<script>
var SensormappingApp = angular.module('SensorMappingApp', []);
SensormappingApp.controller('mappingListCtrl', function ($rootScope,$scope, $http, $interval, socket) {

	    $scope.showMenu = false;
		$scope.loading = false;
		$scope.rooms = [];
		$scope.buildings = [];
		
		$scope.current_site = "";
		$scope.current_building = "ARM3";
		$scope.current_floor = "GROUND";   
        $scope.current_floor_index = 1;
		
		$scope.sensors = [];
		
		$scope.selected_buildings = [];
		var checkTimer ;
		
		var legend;
		var data = {};
		data.states= [{value:15,desc:'good'},{value:12,desc:'ok'},{value:9,desc:'not ok'},{value:6,desc:'bad'},{value:3,desc:'worse'}];	
		var dy = 25;
		var map ;
		
		$scope.initGrapth = function(){
			console.log('init grapth');
			legend = d3.select('svg.map').append('g').attr('class','legend').attr('transform', 'translate(450, 200)');
			//render();	
		}
	
    // http://tympanus.net/codrops/2012/11/29/simple-effects-for-drop-down-lists/
	// http://tympanus.net/codrops/2013/08/28/transitions-for-off-canvas-navigations/
	// http://tympanus.net/codrops/2014/03/13/tilted-content-slideshow/
	
	// http://www.delimited.io/blog/2014/3/14/d3js-threejs-and-css-3d-transforms 3d
	// http://stackoverflow.com/questions/14265112/d3-js-map-svg-auto-fit-into-parent-container-and-resize-with-window
	
	var svg = d3.select('svg.map');	
    var floor = svg.append("svg:g").attr('id','floor');
	var sensorLayer = svg.append('svg:g').attr('id','sensorLayer');
	var sketchLayer = svg.append('svg:g').attr('id','sketchLayer');
	var siteLayer = svg.append('svg:g').attr('id','siteLayer');
	siteLayer.append("rect").attr('class','site_rect');
						   
	/******************  tooltip ******************************/
	var tooltip = d3.select("body").append("div").attr("class", "hint hint--top").style("opacity", 0);
	                               
	    var floor_offset_y = 300;
		var floor_offset_x = 800;
		$scope.floor_sensors = []; 		
		$scope.indoor_sensors = [];		
		
		$scope.loadFloorMap =function(callback){

            var building = $scope.current_building, floor = $scope.current_floor_index;
			if(building == 'ARM1' && floor == 0){
				mappath = '/maps/ARM1-GROUND-FLOOR.svg';
			}else if(building == 'ARM1' && floor == 1){
				mappath = '/maps/ARM1-FIRST-FLOOR.svg';		
			}
			else if(building == 'ARM2' && floor == 0){
				 mappath = '/maps/ARM2-GROUND-FLOOR.svg';		
			}else if(building == 'ARM2' && floor == 1){
				mappath = '/maps/ARM2-FIRST-FLOOR.svg'; 		
			}
			else if(building == 'ARM3' && floor == 0){
				 mappath = '/maps/ARM3-GROUND-FLOOR.svg';		
			}else if(building == 'ARM3' && floor == 1){
				mappath = '/maps/ARM3-FIRST-FLOOR.svg';		
			}
			else if(building == 'ARM6' && floor == 0){
				mappath = '/maps/ARM6-GROUND-FLOOR.svg';
			}else if(building == 'ARM6' && floor == 1){
				mappath = '/maps/ARM6-FIRST-FLOOR.svg';		
			}
            console.log('load map  path  ----  ',mappath);
			d3.xml(mappath, "image/svg+xml", function(xml) {		
				//d3.xml("/buildings/map?building="+$scope.current_building+'&floor='+$scope.current_floor_index, "image/svg+xml", function(xml) {
					var importedNode = document.importNode(xml.documentElement, true);		   
					document.getElementById('floor').appendChild(importedNode.cloneNode(true));					
                    // make map smaller					
					d3.select('#floor')
					    .attr("transform"," rotate(0) ")
					    .transition()
					    .ease("elastic")
				        .duration(800)
						.attr("transform","scale(0.5) rotate(-5) translate("+floor_offset_x+","+floor_offset_y+")")	;

                    if(callback) callback();						
			});				
		}
		  		
		$scope.sites = [];
		var siteprojection;
		var site_geojson = null;
		var site_width  = 500;
        var site_height = 400;
		var site_offset_x = 0, site_offset_y = 300;
			
        $scope.showMenuTrigger = function(){
            $scope.showMenu = !$scope.showMenu;

        }

		function showFloorMap(){
		        d3.selectAll('#sensorLayer').html('');
		        console.log(' ------show floor sensors',$scope.floor_sensors.length);
                var offset_x = 0, offset_y = 0;	     		 
                var placegroup = sensorLayer.selectAll('.placegroup')
				    .attr('pointer-events', 'all')
					.attr("transform", "translate(" + (offset_x ) + "," + (offset_y) + ")")
					.attr('width', function(e){	return e.t *2})
                    .attr('height', function(e){return e.t *2})
					.data($scope.floor_sensors);
		        placegroup.exit().remove();
				placegroup.enter().append('svg:g').attr('class',function(d,i){  return 'placegroup placegroup-'+d.name;})	
				                  				  
				var place = placegroup.append('circle'); 
                place.attr('class',function(d,i){  return 'place place-'+d.name;})						
					.attr('cx',function(e,i){   return offset_x +e.x/2})
					.attr('cy',function(e,i){ return offset_y+e.y/2})
					.attr("transform", "rotate(-5) translate("+floor_offset_x/2+","+floor_offset_y/2+")")
					.transition()
					.delay(1000)
					.ease("elastic")
				    .duration(800) 
					.attr('r',function(e){
						return e.temperature *2
					})
					.style("fill-opacity", function(d,i){
				        return 0.8;                                        
			        })
					.style('fill', function(e,i) {
						return "#620F3a" ;
					});				
					
				var sensor = placegroup.append('circle');  //console.log('senosr  ',e.x,e.y); 
				sensor.attr('class',function(d,i){  return 'motion motion-'+d.name;})					
						.attr('cx',function(e,i){   return offset_x +e.x/2})
						.attr('cy',function(e,i){ return offset_y+e.y/2})
						.attr("transform", "rotate(-5) translate("+floor_offset_x/2+","+floor_offset_y/2+")")
						.transition()
						.delay(1000)
						.ease("elastic")
						.duration(800) 
						.attr('r',function(e){
							return Number(e.temperature) -4
						})
						.style('fill', function(e,i) {
							if(e.temperature<=15) 
							return "#670F38" ;
							else if( e.temperature<=22)
							return "#9B1653";
							else if(e.temperature> 23)
							return "#CE1D6F";
							else
							return '#CE1D6F';
						})
						.style("fill-opacity", function(d,i){
							return 0.8;                                        
						});	
				
				/*
				var label= 	placegroup.append('text'); 
                label.attr('class','label')	//console.log('label  ',e.x,e.y);				
					.attr('x',function(e,i){   return offset_x +e.x/2+20})
					.attr('y',function(e,i){ return offset_y+e.y/2})
					.attr("transform", "rotate(-5) translate("+floor_offset_x/2+","+floor_offset_y/2+")")
					.transition()
					.delay(1000)
					.ease("elastic")
				    .duration(800) 
                    .attr("dy", ".55em")
					.text(function(d) { return d.name; });
				*/	
				// http://stackoverflow.com/questions/17494930/d3-onmouseover-event-does-not-work-with-nested-svg-elements
                // http://stackoverflow.com/questions/20465096/d3-mouseover-and-mouseout-event-not-working-properly
                // http://scottcheng.github.io/bj-air-vis/  http://shimz.me/example/d3js/geo_example2/geo3/index.html
                // http://scottcheng.github.io/weibo-time-vis/				  http://bl.ocks.org/mbostock/4699541
				sensor.on("mouseover",onMouseOver)                  
				          .on("mouseout", onMouseOut)
						  //.on("mousemove",onMouseMove);
				function onMouseMove(d){
                    tooltip.html(d.name)  
						.style("left", (d3.event.pageX) + "px")     
						.style("top", (d3.event.pageY - 28) + "px");				
				}		  
                function onMouseOver(d) {
                    console.log('on mouse over ',d.name,  (d3.event.pageX)/2,  (d3.event.pageY - 28)/2 , d.x/2, d.y/2);				
					tooltip.transition()        
						.style("opacity", .9);      
					tooltip.html(d.name)
					    .attr('data-hint',d.name)  
						.style("left", (d3.event.pageX) + "px")     
						.style("top", (d3.event.pageY - 28) + "px");    
				}

                function onMouseOut(d) { 
                    console.log('on mouse out  ',d.name);				
					tooltip.transition()        
						.duration(500)      
						.style("opacity", 0);   
				}		
		}
		
		$scope.parseFloorSensorData = function(data,callback){
			    //console.log('loading ',data.rooms.length);
				$scope.loading = true;
                $scope.floor_sensors = [];	
				svg.selectAll(".placegroup").data([]).exit().remove()
				//d3.selectAll('#sensorLayer').html('');
				data.rooms.forEach(function(room){
					try{
					        var second_name = room.name.split('.')[1].toUpperCase();			
					        //console.log(room.name,second_name);					        													
							var roomsvg = d3.select('#'+second_name);
							if(!roomsvg.empty()){
								var x = roomsvg.attr('x'), y = roomsvg.attr('y'), width = roomsvg.attr('width'), height = roomsvg.attr('height');
								if(x !=null && y != null){
									//console.log('second_name  location ---------',d3.select('#'+second_name).attr('x'),d3.select('#'+second_name).attr('y'), width, height);
									var posx = Number(x)+Number(width)/2, posy = Number(y)+Number(height)/2;	
									$scope.floor_sensors.push({x:(posx),y:(posy),temperature:room.temperature,name:second_name, time:room.time,cood:[room.lng,room.lat],size:width*height});								
								}else {
									var box = d3.select('#'+second_name).node().getBBox();
									console.log('polygon   ',box.x, box.y, box.width, box.height);	
									$scope.floor_sensors.push({x:(box.x),y:(box.y),temperature:room.temperature,name:second_name, time:room.time,cood:[room.lng,room.lat],size:box.width*box.height});                                   									
								    /*
									var points = d3.select('#'+second_name).attr('points'); 									
									if(points !=null){
										//console.log('second_name  location points ',points);
										var temps = [], posx = 0, posy = 0;
										temps = points.split(' ');
										//console.log('.................................. temperary positions',temps);
										temps.forEach(function(e){
										   // console.log(e);
											var arr = e.split(',');
											posx += Number(arr[0]), posy +=Number(arr[1]);
										})
										posx = posx/temps.length , posy = posy/temps.length;
										$scope.floor_sensors.push({x:(posx),y:(posy),temperature:room.temperature,name:second_name, time:room.time,cood:[room.lng,room.lat]});
									}
                                    */									
								}
							}							
                            //d3.select('#'+second_name).attr("fill", "red");	                                               
                       }catch(e){
					        console.error('room ',room.name,e, room);
						}						  				
				})				       				
				//$scope.rooms = data.rooms;	
                // http://css.dzone.com/articles/render-geographic-information
                return callback();
		}
		
		$scope.loadBuildingIndoorData = function(){
			$http.get('/sites/'+$scope.current_site+'/'+$scope.current_building+'/'+$scope.current_floor_index).success(function(data) {
				console.log('loading sensors floor',$scope.current_site,$scope.current_building,$scope.current_floor_index,data);
				$scope.parseFloorSensorData(data,function(){
				    showFloorMap();				
				});
				$scope.loading = false;	               				
			}).error(function(data, status, headers, config) {
				$scope.loading = false;
				console.error('error loading the page');
			});		
		}		

 /************************************************************************



**************************************************************************/ 
				
		function showSiteMap(){
		          
				  var center = d3.geo.centroid(site_geojson);
				  //console.log('showSiteMap   center  ',center);
				  var scale  = 150;
				  var offset = [site_width/2, site_height/2];
				  siteprojection = d3.geo.mercator().scale(scale).center(center).translate(offset);

				  // create the path
				  var path = d3.geo.path().projection(siteprojection);

				  var bounds  = path.bounds(site_geojson);
				  var hscale  = scale*site_width  / (bounds[1][0] - bounds[0][0]);
				  var vscale  = scale*site_height / (bounds[1][1] - bounds[0][1]);
				  //console.log(bounds[1][0],bounds[0][0],bounds[1][1],bounds[0][1]);
				  var scale   = (hscale < vscale) ? hscale : vscale;
				  var offset  = [site_width - (bounds[0][0] + bounds[1][0])/2 + 40, site_height - (bounds[0][1] + bounds[1][1])/2];
				  // new projection
				  scale = scale * 0.9;
				  siteprojection = d3.geo.mercator().center([center[0],center[1]]).scale(scale).translate(offset);					
				  path = path.projection(siteprojection);
				  console.log('--------------------------------now  ',center[0],center[1],'scale   ',scale, offset);
				  // add a rectangle to see the bound of the svg	  
						   
				  siteLayer.selectAll('.site_rect').attr('width', site_width).attr('height', site_height).style('stroke', 'black').style('fill', 'none')
				                                   .attr("transform", "translate(" + (site_offset_x ) + "," + (site_offset_y) + ")");
				  
				  
				  var sites = siteLayer.selectAll("path").data(site_geojson.features)
				  sites.enter().append("path")
				    .attr("transform", "translate(" + (site_offset_x ) + "," + (site_offset_y) + ")")
					.attr("id",function(d){return d.properties.name;})
					.attr('class','site')
					.attr("d", path)
					.style("fill", "black")
					.style('fill-opacity',0.4)
					.transition()
					.delay(1000)
					.ease("elastic")
					.duration(800) 
					.style("fill-opacity", function(d,i){
						return 0.8;                                        
					})
					.style('fill', function(e,i) {
					    // console.log('fill in the building   ',$scope.current_building, e.properties.name);  // 
					    if($scope.current_building == e.properties.name)
						return "#5C1F3D";
						else
						return "#092630";
					});	
				   sites.exit().remove();
                    				   
				   sites.on("mouseover",function(d){
							d3.select(this)
							  .transition()
							  .duration(800)
							  .ease("elastic").style('fill',function(e){
									return '#620F3a'; 
							  })
                            							  
						})                  
					  .on("mouseout", function(d){
							d3.select(this)
							  .transition()
							  .duration(1200)
							  .ease("elastic").style('fill',function(e){
									if($scope.current_building == e.properties.name)
									return "#5C1F3D";
									else
									return "#092630"; 
							  })							  
					  })
					  .on("click", function(d){
							//console.log('click   ',d.properties.name);	
                            d3.select('.selected-building')
							   .attr('text-anchor', 'middle')
			                   .text( function(d,i){   return d.properties.name;} )
								.attr('transform', function (d,i){ return "translate( "+ i*40 +" , 1100)rotate(-45)";  })	
								.style("fill-opacity", 0.7)
								.style("fill",function(d,i){ 
									return 'red';
								})
								.style("font-size","22px");	

							$scope.current_building = d.properties.name;	
                            var building_name = d.properties.name;
                            $scope.findFloorMenu(building_name);
					  })
		}

        $scope.findFloorMenu = function(building_name){
			var found = false;
			var floors = [];
			for(var i=0; i<$scope.sites.length;i++){
				for(var j=0;j<$scope.sites[i].buildings.length;j++){
					if($scope.sites[i].buildings[j].name == building_name){
						found = true;
						console.log('found floors   ',$scope.sites[i].buildings[j].floors);
						floors = $scope.sites[i].buildings[j].floors;
						break;
					}
				}
			}
			$scope.selected_buildings = [];							
			for(var i=0;i<floors.length;i++){
			   //console.log(floors[i].name,floors[i].url);
			   $scope.selected_buildings.push({name:floors[i].name,floor:i});
			}                            
			//console.log($scope.selected_buildings);	
			$scope.$apply();		
		}		
		
		$scope.loadSiteMap = function(site){
		    if(site_geojson == null){
                d3.json('/maps/map2.geojson', function(json) {			
				//d3.json("/sites/map?site="+site, function(json) {
					  // create a first guess for the projection
					  console.log('load site map geojson ',json);
					  site_geojson = json;  
					  showSiteMap();
				});
            }
			else showSiteMap();
		}
				
		$scope.showBigOverview = function(){
		    site_offset_x = 200, 
			site_offset_y = 200,
			site_width = 1000,
            site_height  = 800,
		    $scope.showSensorDataOnSiteMap();
		    showSiteMap();		
		}
	
		$scope.showSmallOverview =function(){
		    site_offset_x = 0, 
			site_offset_y = 300,
			site_width = 500,
            site_height  = 400,
		    $scope.showSensorDataOnSiteMap();
		    showSiteMap();				
		}
		
		// ARM33G21BIRCH_1_		
		$scope.parseIndoorSensorData = function(data, callback){
			    console.log('loading indoor sensor data',data.rooms.length);
				$scope.loading = true;				
				data.rooms.forEach(function(room){
					try{
					        var second_name = room.name.split('.')[1].toUpperCase();			
					        //console.log(room.name,second_name);					        						
							if(room.lng !=null && room.lat !=null)
							$scope.indoor_sensors.push({t:room.temperature,name:second_name, time:room.time,cood:[room.lng,room.lat], m_enabled:room.m_enabled, t_enabled:room.t_enabled, online:room.online });														
                       }catch(e){
					        console.error('room ',room.name,e, room);
						}						  				
				})				
				$scope.rooms = data.rooms;	
                // http://css.dzone.com/articles/render-geographic-information
                return callback();
                ////////////////////////////////////////////////////////////			
		}		
		
		$scope.showSensorDataOnSiteMap = function(){
			console.log('indoor_sensors    length   ',$scope.indoor_sensors.length);
			var cell = siteLayer.selectAll(".cell")
			.data($scope.indoor_sensors)
			//.enter()
			//.append("svg:g");
			cell.enter().append("svg:circle")
			      .style('fill','black')
			      .attr("transform", "translate(" + (site_offset_x ) + "," + (site_offset_y) + ")")
			      .attr('class',function(d){ return 'cell cell-'+d.name  ;})
				  .attr({  //console.log(d.name,d.cood[0],d.cood[1], siteprojection(d.cood)[0], siteprojection(d.cood)[1]); 
					 "cx":function(d, i) { return siteprojection(d.cood)[0];},
					 "cy":function(d, i) { return siteprojection(d.cood)[1];},                                 								 
					  "r":4								 
				  })
				  .transition()
					.delay(1000)
					.ease("elastic")
					.duration(800) 
				  .style('fill', function(e,i) {
				      if(e.outdoor) return '#2599c1';
					  else{
						  if(e.m_enabled && e.online)
						  return "#2599C1";
						  else 
						  return "#092630"  
					  }
					  
				  });

			cell.on("mouseover", function(d) {
				console.log('on mouse over ',d.name,  (d3.event.pageX)/2,  (d3.event.pageY - 28)/2 , d.x/2, d.y/2);				
				tooltip.transition()        
					//.duration(200)      
					.style("opacity", .9);      
				tooltip.html("<br/>"+ d.name+"<br/>")  
					.style("left", (d3.event.pageX) + "px")     
					.style("top", (d3.event.pageY - 28) + "px");    
				})                  
			.on("mouseout", function(d) { 
				console.log('on mouse out  ',d.name);				
				tooltip.transition()        
					.duration(500)      
					.style("opacity", 0);
			})		
		}
		
		$scope.loadSiteIndoorData = function(){
			$http.get('/sites/'+$scope.current_site).success(function(data) {
				console.log('sensors ',data);
				$scope.parseIndoorSensorData(data,function(){
				    $scope.showSensorDataOnSiteMap();				
				});
				$scope.loading = false;	               				
			}).error(function(data, status, headers, config) {
				$scope.loading = false;
				console.error('error loading the page');
			});		
		}
		//////////////////////////////////////////////////////////
		$scope.parseOutdoorSensorData = function(data, callback){
			    console.log('loading outdoorsensors',data.length);
				$scope.loading = true;				
				data.forEach(function(sensor){
					try{				        						
							if(sensor.lng !=null && sensor.lat !=null)
							$scope.indoor_sensors.push({t:sensor.temperature, time:sensor.time,cood:[sensor.lng,sensor.lat],outdoor:true});														
                       }catch(e){
					        console.error('sensor outdoor ',e);
						}						  				
				})				
                return callback();
		}	
		
		$scope.loadOutdoorData = function(){
			$http.get('/arm/enlight').success(function(data) {
				console.log('out door sensors .....',data);
				$scope.parseOutdoorSensorData(data,function(){
				    $scope.showSensorDataOnSiteMap();				
				});
				$scope.loading = false;	               				
			}).error(function(data, status, headers, config) {
				$scope.loading = false;
				console.error('error loading the page');
			});		
		}		
		
		$scope.loadMenu = function(){
		    d3.json("/meeting/sites/json", function(json) {
				$scope.sites = _.filter(json,function(e){
				    return e.name !=null;
				})
				console.log('load the menu  ',$scope.sites);			
				$scope.loading = true;
                //////////////////////
				var j = 0;
                for(var i=0;i<$scope.sites.length ;i++){
				    if($scope.sites[i].name == 'Peterhouse Technology Park')
					{ 
					    j= i;
						break;
					}
				}
				///////////////////////
				$scope.current_site = $scope.sites[j].name;
				console.log($scope.current_site);

                $scope.findFloorMenu($scope.current_building);				
				$scope.loadSiteMap($scope.current_site);
				$scope.loadSiteIndoorData();
				$scope.loadOutdoorData();
				//////////////////////////////////
				$scope.loadFloorMap($scope.loadBuildingIndoorData());
								
		    }) 
		}
		
		$scope.findBuildingInfo = function(floor){
		    console.log('findBuildingInfo    ',$scope.current_building);
			$scope.current_floor_index = floor;
			$scope.menu_open = false;
			$scope.loading = true;
			$scope.loadFloorMap($scope.loadBuildingIndoorData());
            siteLayer.selectAll('.site').style('fill',"#092630");
		    siteLayer.selectAll('#'+$scope.current_building).style('fill',"#5C1F3D");			
		}
		
		$scope.highlightRoom = function(index){
		    //console.log('highlight room  ',$scope.floor_sensors[index].name, index);
			var select_name = $scope.floor_sensors[index].name;
            $scope.floor_sensors.forEach(function(e){
			    //console.log('fuck  fuck ',e.name, e.temperature);
				sensorLayer.selectAll('.place-'+e.name).transition()
							.ease("elastic")
							.duration(800) 
							.attr('r',function(e){
							    //console.log('hightliver  ',e.name, e.temperature);
							    if(select_name == e.name)
								return e.temperature * 3;
								else
								return e.temperature *2
							})			
			})
		}
		
		$scope.loadMenu();
		$rootScope.$broadcast('mybroadcast');	
						
		$scope.$on('mybroadcast', function(service){
			console.log('on my broadcast', service);
		})

		$scope.dateformat = function(date){
			var date = new Date(date);	
			var hour = date.getHours(), min = date.getMinutes();
			if(hour < 10) hour = '0'+date.getHours();
			if(min < 10) min = '0'+date.getMinutes();
			return  hour+":"+min;		 
		}
				
		socket.on('connect', function () {
			console.log('socket connected');
		});
		
		socket.on('error', function (reason){
			//stats.style("top","0px").select("div").text("Connecting...");				
			console.error('Unable to connect Socket.IO', reason);
		});	
							
		socket.on('info', function (msg) {               
			//console.log(msg);
			if(msg.type=='motion'){ 
				var room = _.findWhere($scope.rooms, {name: msg.room});	
				  if(room){
					console.log('receiving the real time message from server ', msg.room,msg.value,msg.type, msg.time,room.time);
									
					if( new Date(room.time).getTime() < new Date(msg.time).getTime()){
						room.time = msg.time;
						room.available = true; 					
						var name = msg.room.split('.')[1].toUpperCase();
                        console.log('turn red--------------------------------------------------------------',name);						
						d3.selectAll('.motion-'+name)
						    .transition()
							.delay(3800).duration(1000).ease("elastic")
					        
							.style('fill',function(e){
						        return "#670F38" ;
					        })
											
						d3.selectAll('.motion-'+name)
							.transition()
							.delay(800).duration(600).ease("elastic")
						    .style('fill',function(e){
								return "#9B1653";	 
							}) 
                        
						d3.selectAll('.cell-'+name)
						    .transition()
							.delay(800).duration(600).ease("elastic")
							.style('fill',function(e){
						        return "#670F38" ;
					        })
											
						d3.selectAll('.cell-'+name)
							.transition()
							.delay(3800).duration(1000).ease("elastic")
						    .style('fill',function(e){
								return "#2599C1";	 
							})
                        							
					 }else{
						//console.log('room time',room.time.getTime());
						//console.log('>', msg.time.getTime());
					 }
				  }	
			}else if(msg.type =='temperature'){
				var room = _.findWhere($scope.rooms, {name: msg.room});	
				if(room!=null){
					console.log('receiving the real time message from server ', msg.room,msg.value,msg.type, msg.time,room.time)
					room.temperature = msg.value;
				}
			}else if(msg.type == 'online'){
				if(room!=null){
					console.log('receiving the real time message from server online', msg.room,msg.value,msg.type);
					if(msg.value==1)
					room.online = true;
					else if(msg.value == 0)
					room.online = false;
				}		
			}
		});

	$scope.$on('$destroy', function() {
        if (angular.isDefined(checkTimer)) {
            $interval.cancel(checkTimer);
            checkTimer = undefined;
        }
        socket.removeAllListeners();		
    });		
});

SensormappingApp.factory('socket', function ($rootScope) {
    if (!window.location.origin)
    window.location.origin = window.location.protocol+"//"+window.location.host;
    var socket = io.connect(window.location.origin+":3000",{'force new connection': true});
    return {
        on: function (eventName, callback) {
            socket.on(eventName, function () {  
            var args = arguments;
            $rootScope.$apply(function () {
                callback.apply(socket, args);
            });
        });
    },
        emit: function (eventName, data, callback) {
            socket.emit(eventName, data, function () {
            var args = arguments;
            $rootScope.$apply(function () {
                if (callback) {
                    callback.apply(socket, args);
                }
            });
        })
    }
  };
});	
	
	</script>

    <!-- Gridset overlay script - toggles grid overlay on and off - You can remove this if you want. -->
    <script src="./js/gridset-overlay.js"></script> 

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-46398255-2', '54.194.94.166:80');
      ga('require', 'linkid', 'linkid.js');
      ga('send', 'pageview');

    </script>
</body>
</html>




