<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="meetingApp"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>ARM Dashboard Meeting Room App</title>
    <meta name="author" content="Steven Hassall and Sizhe Xi ">
    <meta name="description" content="ARM Dashboard Sensor Monitoring Project">
    <meta name="viewport" content="width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=0, initial-scale=1">
    <link rel="stylesheet" href="css/normalize.min.css">
    <!-- Gridset CSS -->
    <!--[if (!IE) | (gt IE 9)]><!--><link rel="stylesheet" href="css/gridset.css"><!--<![endif]-->
    <!--[if IE 9]><link rel="stylesheet" href="./css/gridset-ie-9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="./css/gridset-ie-lte8.css" /><![endif]-->
    <link rel="stylesheet" href="css/mfglabs_iconset.css">
    <link rel="stylesheet" href="css/menu-component.css">
    <link rel="stylesheet" href="css/main.css">
    
    <script src="js/vendor/socket.io.js"></script>
    <!--<script src="/assets/js/d3.v3.min.js"></script>-->
    <script src="js/vendor/angular.min.js"></script>
    <script src="js/vendor/angular-touch.min.js"></script>
    <script src="js/vendor/ui-bootstrap.min.js"></script>
    <script src="js/vendor/underscore-min.js"></script>
    <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>	
</head>
<body>
<!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

    <div class="meeting-room">
    <!-- START .meeting-room -->

        <div id="container" class="container" class="clearfix" ng-controller="meetingListCtrl">
        <!-- START #container -->

            <section class="mp-pusher" id="mp-pusher">

                <!-- mp-menu -->
                    <nav id="mp-menu" class="mp-menu" > 
                        <div class="mp-level">
                            <button id="triggerMobile" class="mp-close d-hide t-hide"><i class="icon-cancel_circle icon2x"></i></button>
                            <h2><i class="icon-data_science blue"></i> ARM Buildings</h2>
                            <ul>

                                <li>
                                    <a href="#">ARM 1</a>
                                    <div class="mp-level">
                                        <h2><i class="icon icon-data_science_black blue"></i> ARM 1</h2>
                                        <a class="mp-back" href="#">back</a>
                                        <ul>
                                            <li><a class='room_nav' ng-click="getRoomInfo($event.target.href);$event.preventDefault()" href="/buildings/ARM1/0">Ground</a></li>
                                            <li><a class='room_nav' ng-click="getRoomInfo($event.target.href);$event.preventDefault()" href="/buildings/ARM1/1">Floor 1</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
								    <a href="#">ARM 2</a>
                                    <div class="mp-level">
                                        <h2><i class="icon icon-data_science_black blue"></i> ARM 2</h2>
                                        <a class="mp-back" href="#">back</a>
                                        <ul>
                                            <li><a class='room_nav' ng-click="getRoomInfo($event.target.href);$event.preventDefault()" href="/buildings/ARM2/0">Ground</a></li>
                                            <li><a class='room_nav' ng-click="getRoomInfo($event.target.href);$event.preventDefault()" href="/buildings/ARM2/1">Floor 1</a></li>
                                        </ul>
                                    </div>									
								</li>
                                <li>
								    <a href="#">ARM 3</a>
                                    <div class="mp-level">
                                        <h2><i class="icon icon-data_science_black blue"></i> ARM 3</h2>
                                        <a class="mp-back" href="#">back</a>
                                        <ul>
                                            <li><a class='room_nav' ng-click="getRoomInfo($event.target.href);$event.preventDefault()" href="/buildings/ARM3/0">Ground</a></li>
                                            <li><a class='room_nav' ng-click="getRoomInfo($event.target.href);$event.preventDefault()" href="/buildings/ARM3/1">Floor 1</a></li>
                                        </ul>
                                    </div>									
								</li>
                                <li>
								    <a href="#">ARM 6</a>
                                    <div class="mp-level">
                                        <h2><i class="icon icon-data_science_black blue"></i> ARM 6</h2>
                                        <a class="mp-back" href="#">back</a>
                                        <ul>
                                            <li><a class='room_nav' ng-click="getRoomInfo($event.target.href);$event.preventDefault()" href="/buildings/ARM6/0">Ground</a></li>
                                            <li><a class='room_nav' ng-click="getRoomInfo($event.target.href);$event.preventDefault()" href="/buildings/ARM6/1">Floor 1</a></li>
                                        </ul>
                                    </div>									
								</li>
                                <li>
								    <a href="#">CPC1</a>
                                    <div class="mp-level">
                                        <h2><i class="icon icon-data_science_black blue"></i> CPC1 </h2>
                                        <a class="mp-back" href="#">back</a>
                                        <ul>
                                            <li><a class='room_nav' ng-click="getRoomInfo($event.target.href);$event.preventDefault()" href="/buildings/CPC1/0">Ground</a></li>
                                            <li><a class='room_nav' ng-click="getRoomInfo($event.target.href);$event.preventDefault()" href="/buildings/CPC1/1">Floor 2</a></li>
                                        </ul>
                                    </div>									
								</li>
                                 								
                            </ul>
                                
                        </div>
                    </nav>
                    <!-- /mp-menu -->

                <div class="scroller">
                <div class="scroller-inner">
                <!-- start .scroller's -->
                
                <div class="wrapper" >
                <!-- START .wrapper    ng-swipe-left="app.showMenu=true" ng-swipe-right="app.showMenu=false"    -->


                    <header id="banner" class="d1-d9 t1-t4 m-all clearfix" >
                    <!-- START #banner -->

                        <button id="trigger"><i class="icon-reorder icon2x"></i></button>

                        <h1 ng-cloak>{{current_building}} <span class="blue" ng-cloak> {{current_floor}} FLOOR</span> <span class="pink">MEETING ROOM</span> AVAILABILITY</h1>

                    <!-- END #banner -->
                    </header>

                    <article id="main" class="d1-d4 t1-t3 m-all clearfix">
                    <!-- START #main -->

                        <div id="app-brand" class="m-hide" ng-click="room.front = !room.front" ng-class="{'flipped': room.front}" ng-show="app.showMenu">
                            <div class="ch-item" >              
                                <div class="ch-info-wrap">
                                    <div class="ch-info meetings">
                                        <div class="ch-info-front hexagon"></div>
                                        <div class="ch-info-back hexagon">
                                            <a href="http://arm.redninja.co.uk" title="Return to the Home">
                                                <i class="icon-home icon3x" aria-hidden="true"></i>
                                                <h3>Home</h3>
                                            </a>
                                        </div>  
                                    </div>
                                </div>
                            </div>
                        </div>

                        <article id="app-description" class="t-hide m-hide" role="article">

                          <p>Click a hexagon to view more information about the meeting room. Please email any feedback to <a href="mailto:arm@redninja.co.uk" title="Email Feedback">arm@redninja.co.uk</a>.</p>

                        </article>
                    
                    
                    <!-- END #main -->
                    </article>

                <!-- END .wrapper -->
                </div>
				
                <section id="app-meeting" class="app-content">				
                  <ul class="ch-grid">
                      <li class="room" ng-repeat="room in rooms | filter:query " ng-cloak  ng-animate="{enter: 'animate-enter'}" > <!-- | orderBy:orderProp index wrong after orderby -->
                          <div class="ch-item" ng-click="room.front = !room.front;_gaq.push(['_trackEvent', 'Hexagon', 'Flipped', 'Hexagon - {{room.displayname}}']);" ng-class="{'flipped': room.front}">              
                              <div class="ch-info-wrap">
                                  <div class="ch-info " ng-class="{'unavailable':room.available, 'available':!room.available}"> <!-- 'unknownn':!room.m_enabled , -->
                                  <!-- START .ch-info -->

                                      <div class="ch-info-front hexagon">
                                          <header>
                                            <!--<div class="dynamic-text">--><h1>{{room.displayname}}</h1><!--</div>-->
                                            <small ng-if="room.t_enabled==true"><span class='temperature'>{{room.temperature}}</span> &#x2103;</small>
                                            <!-- <h5 ng-if="room.m_enabled==false">No </h5> -->
                                          </header>
                                          <div class="knockout">
                                            <div id="clock-{{room.displayname}}"></div>
                                          </div>
                                      </div> 

                                      <div class="ch-info-back hexagon">
                                      <!-- START .ch-info-back -->
                                          												
                                        <div ng-if="room.events.length>0">
                                        <!-- START .room.events.length -->

              												    <div class="maskCircle bookerPhoto">
                                            <img src="img/photos/john-biggs.jpg" alt="{{room.events[room.eventIndex].organizer}}">
                                          </div>
              												    <h3>
              													    <span class='ch-start'>{{dateformat(room.events[room.eventIndex].startDate)}}</span> <i class="icon-arrow_right" aria-hidden="true"></i> <span class='ch-end'>{{dateformat(room.events[room.eventIndex].endDate)}}</span>
              												    </h3>
              												    <h4>{{room.events[room.eventIndex].organizer}}</h4>
                													<a href='{{getEmail(room.events[room.eventIndex].organizer)}}' ng-click="$event.stopPropagation();_gaq.push(['_trackEvent', 'Hexagon', 'Telephone', 'Hexagon - {{room.displayname}}']);" title="Phone {{room.events[room.eventIndex].organizer}}" class="noSpin d-hide t-hide"><button class="maskCircle icon-telephone"><span>Telephone</span></button></a> 
                													<a href='{{getEmail(room.events[room.eventIndex].organizer)}}' ng-click="$event.stopPropagation();_gaq.push(['_trackEvent', 'Hexagon', 'Email', 'Hexagon - {{room.displayname}}']);" title="Email {{room.events[room.eventIndex].organizer}}" class="noSpin m-hide"><button class="maskCircle icon-email"><span>Email</span></button></a> 
                													<a href="#popup-{{ room.name }}" ng-click="$event.stopPropagation();open($index);_gaq.push(['_trackEvent', 'Hexagon', 'Itinerary', 'Hexagon - {{room.displayname}}']);" title="View Itinerary" class="noSpin open-popup-link"><button class="maskCircle icon-information"><span>Itinerary Information</span></button></a>													
                												
                                        <!-- END .room.events.length -->
                                        </div>
                						                                        
										
                                        <div class="noBooking" ng-if="room.events.length==0">
              												    <div class="maskCircle bookerPhoto"><img src="img/photos/ARM-Employee-Icon.png" alt="{{room.events[room.eventIndex].organizer}}"></div>
              												    <h3>No bookings</h3>
                						            </div>
                                                                 											
                											<!-- END .ch-info-back -->
                                      </div>

                                  <!-- END .ch-info -->
                                  </div>
                              </div>
                          </div>
                      </li>
                  </ul>

              <!-- END #app-meeting -->
              </section>

                  <footer id="footer" class="clearfix">
                  <!-- START #footer -->

                      <div>
                          <small>v0.971 Design &amp; Coded by <a href="http://www.redninja.co.uk" title="Design and Coded by Red Ninja Studios">Red Ninja Studios</a></small>
                      </div>

                      <div>
                          <a href="http://arm.com" class="logo-arm" title="ARM - Architecture for the digital world"><img src="img/ARM-RGB.png" alt="ARM - Architecture for the digital world" class="logo" /></a>
                      </div>
                  
                  <!-- END #footer -->
                  </footer>

                <!-- end .scroller's -->
                </div>
                </div>

            </section>

          <div id="loading" ng-class="checkLoading(call.State[0])">
          <!-- START #loading --> 

            <div class="inner">
              <div class="box">
                <div class="circle"></div>
                <div class="circle1"></div>
              </div>
            </div>

          <!-- END #loading -->     
          </div>  


    			<!--<div id="loading" ng-class="{'loading': loading}">
    			 START #loading  

            <div class="inner">
      				<div class="box">
      					<div class="circle"></div>
      					<div class="circle1"></div>
      				</div>
            </div>

    			END #loading      
    			</div>	-->
			
			
        <!-- END #container -->
        </div>
    <!-- END .meeting-room -->
    </div>


  <script src="js/vendor/jquery-1.10.1.min.js"></script>
  <script src="js/vendor/classie.js"></script>
  <script src="js/vendor/mlpushmenu.js"></script>
    
  <script>

    angular.module('meetingEventFilters', []).filter('filterEvent', function() {
      return function(event) {
        var now = new Date();
        var eventDate = new Date(event.endDate);    
    	return (eventDate.getTime() >= now.getTime())&&(eventDate.getDate()==now.getDate()); 
      };
    });


    var meetingApp = angular.module('meetingApp', ['meetingEventFilters','ui.bootstrap','ngTouch']);
    /*
	meetingApp.directive('a', function() {
		return {
			restrict: 'E',
			link: function(scope, elem, attrs) {
				if(attrs.ngClick){
					elem.on('click', function(e){
						e.preventDefault();
						console.log('click   ',attrs.href);
					});
				}
			}
	   };
	});
    */	
	
    meetingApp.controller('meetingListCtrl', function ($rootScope,$scope, $http, $interval, socket, $modal) {

      $scope.app = {showMenu:true};
	    $scope.loading = false;
    	$scope.rooms = [];
		$scope.buildings = [];
		
		$scope.current_building = "ARM 3";
		$scope.current_floor = "GROUND";
		$scope.menu_open = false;
    	var checkTimer ;
      			
        $scope.open = function ( index) {
    	    var roomObj = $scope.rooms[index];
    	    //console.log('open',roomObj.name, roomObj, index);
            var modalInstance = $modal.open({
                templateUrl: 'eventModalTemplate.html',
    			  backdrop: true,
                windowClass: 'modal',
                resolve: {
                    room: function () {
  				    var cloned = _.clone(roomObj);
  				    _.map(cloned.events, function(event){					
    		                //event.startDate = $scope.dateformat(event.startDate);
  						//event.endDate = $scope.dateformat(event.endDate);
  						return event;
    		            })
  					//console.log('cloned',cloned);
                      return cloned;
                    }
                },			  
                controller: function ($scope, $modalInstance, room) {
                    $scope.room = room;
  				  $scope.dateformat = function(date){
  					  var date = new Date(date);	
  					  var hour = date.getHours(), min = date.getMinutes();
  					  if(hour < 10) hour = '0'+date.getHours();
  					  if(min < 10) min = '0'+date.getMinutes();
  					  return  hour+":"+min;		 
  				   }
  				  
  					/*
  					$scope.ok = function () {
  							 $modalInstance.close($scope.selected.item);
  					  };
  					  $scope.cancel = function () {
  						  $modalInstance.dismiss('cancel');
  					  };
  					*/
                }	
            });

           modalInstance.result.then(function (selectedItem) {
            $scope.selected = selectedItem;
            }, function () {
            });
        }; 

		
        /*			
        $http.get('/buildinglist').success(function(data) {
    	    data.buildings.forEach(function(building){
    	        console.log(building.name,' ', building.floors.length);
				for(var i=0;i<building.floors.length;i++){
				    console.log(building.floors[i].name, building.floors[i].url);
				}			
    	    })	
            $scope.buildings = data.buildings;			
        }).error(function(data, status, headers, config) {

        });
        */		
		
        //$http.get('/meetings/arm/now').success(function(data) {
		$scope.loading = false;
		$http.get('/buildings/ARM3/0').success(function(data) {
		    $scope.loading = true;
    	    data.rooms.forEach(function(room){
    	        //console.log(room.name,' ', room.events.length);
				
				for(var i=0;i<room.events.length;i++){
				
					try
					  {
					  	 room.events[i].organizer = unescape(room.events[i].organizer.split('/')[2]);
					  }
					catch(err)
					  {
					    room.events[i].organizer = 'unknown ';
					  }
				}
    	    })		
    		_.map(data.rooms,function(room){  room.front = false;} )
					
    	    $scope.rooms = data.rooms;
    	    //console.log(data.rooms);

    		$scope.checkRoomAvailablity();
    		$scope.checkIntialEventIndex();
    		checkTimer = $interval($scope.checkMeetingMotionTimer, 1000*60);
    		
    		$rootScope.$broadcast('mybroadcast');
        }).error(function(data, status, headers, config) {
            // called asynchronously if an error occurs
            // or server returns response with an error status.
			$scope.loading = true;
        });
    	
        $scope.orderProp = 'temperature';
    			  	
    	$scope.$on('$viewContentLoaded', function(){
    	    //console.log('view content loaded');
    	});
		
		$scope.getRoomInfo = function(href){
		    //console.log('get room info',href);
			
			$scope.menu_open = false;
			$scope.loading = false;
			
			var arr = href.split('/');
			console.log(arr);
			$scope.current_building = arr[4];
			if(arr[5] == 0) 
			$scope.current_floor = 'GROUND';
			else if(arr[5]==1)
			$scope.current_floor = 'FIRST';
			else if(arr[5]==2)
			$scope.current_floor = 'SECOND';
			
			$http.get(href).success(function(data) {			    
			    //console.log('loading ',data);
				$scope.loading = true;
				data.rooms.forEach(function(room){
					//console.log(room.name,' ', room.events.length);
					for(var i=0;i<room.events.length;i++){
					
						try
						  {
							 room.events[i].organizer = unescape(room.events[i].organizer.split('/')[2]);
						  }
						catch(err)
						  {
							room.events[i].organizer = 'unknown ';
						  }					
					}
				})		
				_.map(data.rooms,function(room){  room.front = false;} )
						
				$scope.rooms = data.rooms;
				//console.log(data.rooms);

				$scope.checkRoomAvailablity();
				$scope.checkIntialEventIndex();
				checkTimer = $interval($scope.checkMeetingMotionTimer, 1000*60);
				
				$rootScope.$broadcast('mybroadcast');								
            }).error(function(data, status, headers, config) {
                $scope.loading = false;
            });
		}
    		
        // 213.123.189.97   		
		
    	$scope.checkRoomAvailablity = function(){
    	    //console.log('checkRoomAvailablity');
			/*
    		var room_filtered = _.filter($scope.rooms, function(room){
    		    var lastupdate = new Date(room.time); 
                //if(room.available==true)			
  			    console.log("---------  check room avail", (new Date().getTime() - lastupdate.getTime()) , 300000 , room.displayname,room.available );
    			return ( (new Date().getTime()-lastupdate.getTime()) > 5*60*1000  ) ;  //room.available==true   && 
    		})
    		
    		_.map(room_filtered, function(room){
  		     console.log('.............should  update the room to be available  ',room);
    		     room.available = false;
    		})
			*/
    		_.map($scope.rooms, function(room){
  		         //console.log('.............should  update the room to be available  ',room);
				 var lastupdate = new Date(room.time);
				 
				 if(!room.m_enabled) room.available = false;
				 else{
                     if( (new Date().getTime() - lastupdate.getTime()) > 300000	)  room.available = false;
                     else room.available = true;
                 }					 
    		     return true;
    		})			
			
    	}
    	
    	$scope.checkIntialEventIndex = function(){
    	    var nowTime = new Date().getTime();
    		$scope.rooms.forEach(function(room){
    		    var events = room.events;
    			//console.log("all events  ",events);
    		    var event_filtered = _.filter(events, function(event){
    		        var startTime = new Date(event.startDate).getTime(),endTime = new Date(event.endDate).getTime(); 				
                    //console.log('event  ',nowTime, startTime);				
    			    return  (nowTime>=startTime&& nowTime<=endTime) ||(nowTime <=startTime);  // 
    		    })
                room.eventIndex = events.length - event_filtered.length;		    
    		    //console.log("remaining events   ",event_filtered, room.eventIndex);
    		})
    	}
    	
    	$scope.checkNextEventAlert = function(){
    	    var nowTime = new Date().getTime();
    		$scope.rooms.forEach(function(room){
    		    var events = room.events, index = room.eventIndex;
                //console.log(room.name , events.length, index);			
    		    
    			if(events.length>0){
    			    var currentEvent = events[index], hasNextEvent = false;
    			    var startTime = new Date(currentEvent.startDate).getTime(),endTime = new Date(currentEvent.endDate).getTime();
    				
    				if(index+1>=events.length){
    				    //console.log('no more next events');
    				}else{
    				    //console.log('there is a next event');
    					hasNextEvent = true;
    				}
    				
    			    //console.log('checkNextEventAlert  ', currentEvent.startDate, currentEvent.endDate);
    			    if(nowTime>startTime&&nowTime<endTime){
    			        // if there is a event, just update the event clock
    			        //console.log( ' in current event , next time  for  ' , $scope.dateformat(currentEvent.startDate)  );
    				    var seconds = (endTime - nowTime)/1000;
    				    if(seconds<60){
    				    // setInterval  real timer 
    				    }else if(seconds < 60 *5){
    				        // show the alert  for room ( next event or event)
                            if(hasNextEvent){
    						
    						}
    				    }
    		     	}else if(nowTime >= endTime){
    				    if(hasNextEvent){
    					    // show next event data and update the index
    					    room.eventIndex ++;
    					}
    				}
    			    else if(nowTime <=startTime){
    			       // console.log( ' next event  ' , $scope.dateformat(currentEvent.startDate)  );
    				    // if there is no event now, just show the remaining time left for the next event
    				   if(seconds<60){
    				    // setInterval  real timer 
    				   }else if(seconds < 60 *5){
    				    // show the alert
    				   }else if(seconds < 60*60){
    				
    				   }else{
    				
    				   }				
    			    }
    			}else{
    			     //console.log(' there is events in this day for this room ');
    			
    			}
    		})	
    	}
    		
    	$scope.checkMeetingMotionTimer = function(){
    	    //console.log('check timer');
    	    $scope.checkRoomAvailablity();
    		///////////////////////////////////////////////////////////
    		// give a alert for event transition 5 minutes before the next events
    		$scope.checkNextEventAlert();

    	}

  	/****************************  utiliy ***********************************/
	$scope.$on('mybroadcast', function(service){
		//console.log('on my broadcast', service);
	    touchScroll("bodyID");
	    sizeContent();			
    })


    //Check content is loaded and display Loading overlay accordingly
    $scope.checkLoading= function() {
     if (scope.loading == true)

        .appendTo($('#loading')).hide();
        console.log('checkLoading = true');

     else if (scope.loading == false)

        .appendTo($('#loading')).hide();
        console.log('checkLoading = false');

     else
         console.log('checkLoading error');
    }


    $scope.dateformat = function(date){
		var date = new Date(date);	
		var hour = date.getHours(), min = date.getMinutes();
		if(hour < 10) hour = '0'+date.getHours();
		if(min < 10) min = '0'+date.getMinutes();
		return  hour+":"+min;		 
	}
		
	$scope.getEmail = function(name){
	    var name = name.replace(' ','.');
		return 'mailto:'+name+'@arm.com';
	}
	
   
  	// touch device overflow fix
  	function isTouchDevice() {
  		try{
  			document.createEvent("TouchEvent");
  			return true;
  		}catch(e){
  			return false;
  		}
  	}

  	function touchScroll(id) {
  		if(isTouchDevice()){ //if touch events exist...
  			var el=document.getElementById(id);
  			var scrollStartPos=0;

  			document.getElementById(id).addEventListener("touchstart", function(event) {
  				scrollStartPos=this.scrollTop+event.touches[0].pageY;
  				event.preventDefault();
  			},false);

  			document.getElementById(id).addEventListener("touchmove", function(event) {
  				this.scrollTop=scrollStartPos-event.touches[0].pageY;
  				event.preventDefault();
  			},false);
  		}
  	}
  	
	function sizeContent() {
		// fix height bug on .container as there was an annoying gap below
		var bodyHeight = window.innerHeight;

		var containerHeight = document.getElementById("container").style.height;
        //console.log('size content  body:',bodyHeight,'container', containerHeight);	
    
    //var loadingHeight = document.getElementById("loading").style.height;
      //  console.log('size content  body:',bodyHeight,'loading', loadingHeight);   

		if (bodyHeight > 1100) {
		  document.getElementById('container').style.height = bodyHeight+"px";
      //document.getElementById('loading').style.height = containerHeight+"px";
		}
		else {
		  window.innerHeight = containerHeight;
      //window.innerHeight = loadingHeight;
		}
		//console.log ('sizeContent working');
	}	
     	
    	/******************    socket  **********************/
        socket.on('connect', function () {
    	    console.log('socket connected');
        });
                            
        socket.on('info', function (msg) {               
            //console.log(msg);
            console.log('receiving the real time message from server ', msg.room,msg.value,msg.type)
            if(msg.type=='motion'){ 
                var room = _.findWhere($scope.rooms, {name: msg.room});	
    			  if(room){
                    //console.log('room  object  becomes avaiable ',room);
                    room.available = true;
  				  room.time = new Date();
    			  }	
            }
        });
      /***************   destory *************************/
    	$scope.$on('$destroy', function() {
            if (angular.isDefined(checkTimer)) {
                $interval.cancel(checkTimer);
                checkTimer = undefined;
            }
            socket.removeAllListeners();		
      });		
    });


    meetingApp.factory('socket', function ($rootScope) {
        if (!window.location.origin)
        window.location.origin = window.location.protocol+"//"+window.location.host;
        var socket = io.connect(window.location.origin+":3000",{'force new connection': true});
        return {
            on: function (eventName, callback) {
                socket.on(eventName, function () {  
                var args = arguments;
                $rootScope.$apply(function () {
                    callback.apply(socket, args);
                });
            });
        },
            emit: function (eventName, data, callback) {
                socket.emit(eventName, data, function () {
                var args = arguments;
                $rootScope.$apply(function () {
                    if (callback) {
                        callback.apply(socket, args);
                    }
                });
            })
        }
      };
    });

   function sizeContent() {
      var bodyHeight = $('body').height();
      var containerHeight = $("#container").height();
      var loadingHeight = $("#loading").height();
      //console.log('size contenter   ... ',bodyHeight, containerHeight);
      if (bodyHeight > containerHeight) {

        $('#container').css('height', bodyHeight );

      } else if (containerHeight > loadingHeight) {

        $('#loading').css('height', containerHeight );

      }
      else {
        $('body').css('height', containerHeight);
      }
  }

  //Every resize of window
  $(window).resize(sizeContent); 
    
    
  angular
      .module('loadingOnAJAX', [])
      .config(function($httpProvider) {
          var numLoadings = 0;
          var loadingScreen = $('LOADING')
              .appendTo($('body')).hide();
          $httpProvider.responseInterceptors.push(function() {
              return function(promise) {
                  numLoadings++;
                  loadingScreen.show();
                  var hide = function(r) { if (!(--numLoadings)) loadingScreen.hide(); return r; };
                  return promise.then(hide, hide);
              };
          });
      });

  angular
    .module('globalErrors', [])
    .config(function($provide, $httpProvider, $compileProvider) {
        var elementsList = $();

        var showMessage = function(content, cl, time) {
            $('<div/>')
                .addClass('message')
                .addClass(cl)
                .hide()
                .fadeIn('fast')
                .delay(time)
                .fadeOut('fast', function() { $(this).remove(); })
                .appendTo(elementsList)
                .text(content);
        };
        
        $httpProvider.responseInterceptors.push(function($timeout, $q) {
            return function(promise) {
                return promise.then(function(successResponse) {
                    if (successResponse.config.method.toUpperCase() != 'GET')
                        showMessage('Success', 'successMessage', 5000);
                    return successResponse;

                }, function(errorResponse) {
                    switch (errorResponse.status) {
                        case 401:
                            showMessage('Wrong usename or password', 'errorMessage', 20000);
                            break;
                        case 403:
                            showMessage('You don\'t have the right to do this', 'errorMessage', 20000);
                            break;
                        case 500:
                            showMessage('Server internal error: ' + errorResponse.data, 'errorMessage', 20000);
                            break;
                        default:
                            showMessage('Error ' + errorResponse.status + ': ' + errorResponse.data, 'errorMessage', 20000);
                    }
                    return $q.reject(errorResponse);
                });
            };
        });

        $compileProvider.directive('appMessages', function() {
            var directiveDefinitionObject = {
                link: function(scope, element, attrs) { elementsList.push($(element)); }
            };
            return directiveDefinitionObject;
        });
    });  
  
	
    </script>

    <!-- New Menu -->
    <script>
        new mlPushMenu( document.getElementById( 'mp-menu' ), document.getElementById( 'trigger' ) );
    </script>

  <script type="text/ng-template" id="eventModalTemplate.html">
      <aside class="itinerary">
        <article>
          <header class="clearfix">
            <h1>Today's Itinerary</h1>
            <h2>{{room.displayname}}</h2>
            <small><span class='temperature'>{{room.temperature}}</span> &#x2103;</small>
          </header>
          <section>
            <table class="tg-table-dark">
              <tr ng-repeat="event in room.events">  <!--add a filter for the remaining room -->
                <td>
                  <div class="wrapHexagon">
                    <div class="hexagon-in1">
                      <div class="hexagon-in2" style="background-image: url(img/photos/john-biggs.jpg);"></div>
                    </div>
                  </div>
                </td>
                <td><i class="icon-clock" aria-hidden="true"></i></td>
                <td><span>{{ dateformat(event.startDate)}}</span><i class="icon-arrow_right " aria-hidden="true"></i><span>{{dateformat(event.endDate)}}</span></td>
                <td><a href="tel:01517076707" title="Phone Joe"><button class="maskCircle icon-telephone icon2x"><span>Telephone</span></button></a></td>
              </tr>
            </table>
            <h3 class="darkBlue">No More Bookings Today</h3>
          </section>
        </article> 
      </aside>
  </script>

  <!-- 
  1. css blink color transition    http://stackoverflow.com/questions/16344354/how-to-make-blinking-flashing-text-with-css3  http://stackoverflow.com/questions/19049484/blinking-a-div-with-background-color-in-jquery-using-setinterval  http://stackoverflow.com/questions/13955163/imitating-a-blink-tag-with-css3-animations   
      http://stackoverflow.com/questions/4411306/css3-transition-of-background-color  
  2. css time decrease , color descrese    http://css-tricks.com/almanac/properties/t/transition/
  3. svg clock-->	

  <script src="js/plugins.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46398255-2', '54.194.94.166:80');
  ga('require', 'linkid', 'linkid.js');
  ga('send', 'pageview');

</script>

</body>
</html>