/*  ==========================================================================
    HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
    ========================================================================== */

    html, buttonLink, input, select, textarea {color: #222; } body {font-size: 1em; line-height: 1.4; } ::-moz-selection {background: #b3d4fc; text-shadow: none; } ::selection {background: #b3d4fc; text-shadow: none; } hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; } img {vertical-align: middle; } fieldset {border: 0; margin: 0; padding: 0; } textarea {resize: vertical; } .chromeframe {margin: 0.2em 0; background: #ccc; color: #000; padding: 0.2em 0; }

/*  ==========================================================================
   
    Copyright 2014 www.redninja.co.uk
    Design and Code: Red Ninja Studios (Steven Hassall)


    COLOURS

    Black:                  #333333;
    Grey:                   #F2F2F2;

    Primary Green:          #46AD9E;
    Light Green:            #90CEC5;
    Dark Green:             #23574F;

    Blue:                   #284B6D;
    Dark Blue:              #1E3852;

    Pink:                   #E36870;
    Dark Pink:              #AA4E54;

    Gold:                   #BFA87D;

    Orange:                 #F78633;


    STRUCTURE

    0.  Imports
    1.  Base
    2.  Layout
    3.  Typograhy
    4.  buttonLinks
    5.  Images
    6.  Navigation
    7.  Drop Down Menu
    8.  Table
    9.  Animations (CSS3)
    10. Media Queries (Responsive)
    11. Colours
        Helper Classes
        Print

    ========================================================================== */

/*  ==========================================================================
    0.  IMPORTS
    =========================================================================== */

    /* Roboto */
    @font-face {
        font-family: "Roboto"; font-style: normal; font-weight: 300;
        src: local('Roboto Light'), local('Roboto-Light');
        src: url("../fonts/Roboto/Roboto-Light.ttf") format('truetype');
    }
    @font-face {
        font-family: "Roboto"; font-style: normal; font-weight: 700;
        src: local('Roboto Bold'), local('Roboto-Bold');
        src: url("../fonts/Roboto/Roboto-Bold.ttf") format('truetype');
    }

    /* Roboto Slab */
    @font-face {
        font-family: "Roboto Slab"; font-style: normal; font-weight: 300;
        src: local('Roboto Slab Light'), local('RobotoSlab-Light');
        src: url("../fonts/Roboto_Slab/RobotoSlab-Light.ttf") format('truetype');
    }
    @font-face {
        font-family: "Roboto Slab"; font-style: normal; font-weight: 700;
        src: local('Roboto Slab Bold'), local('RobotoSlab-Bold');
        src: url("../fonts/Roboto_Slab/Roboto-Bold.ttf") format('truetype');
    }



/*  ==========================================================================
    1.  BASE
    =========================================================================== */

    html {
        height:100%;
     min-height:100%; font-size: 100%; 
        -webkit-text-size-adjust: 100%;
        -webkit-transform: translate3d(0,0,0);
    } /* Force scrollbar in non-IE and Remove iOS text size adjust without disabling user zoom */

    body {
        font-size: 1em; line-height: 1.625em; margin: 0; padding: 0; height:100%; min-height: 100%; 
        -webkit-font-smoothing:antialiased; 
        ont-smoothing:antialiased; 
        text-rendering:optimizeLegibility;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; color:#000000; background-color:#FFFFFF;
        background-image: url(http://basehold.it/i/26/f1f1f1);  /* 26px baseline */ 
    }

    .breakout {
        width: 100%; height: auto;
        padding-top: 3.25em; padding-bottom: 3.25em;
    }
    .wrapper {width:990px; margin:0 auto;}


/*  ==========================================================================
    2.  Layout
    ========================================================================== */

    #banner {
        height: 37.375em; margin: 0; padding: 0; text-align: center;
        padding-top: 6.5em;
        background: #222222 url('../img/Alert-Me_BG.jpg') no-repeat scroll 50% 0%;
        background-size: 100%;
        
        -webkit-background-size: cover;
           -moz-background-size: cover;
             -o-background-size: cover;
             background-size: cover;
                
    }
    #primary-nav {position: absolute; top: 3.25em; right: 3.25em; display: none;}
    #main-content {}
        #main-content header {text-align: center;}
            #main-content header ul {list-style: none; padding: 0;}
                #main-content header ul li {
                    border: 1px #F2F2F2 solid; padding: 0.8125em 1.625em;
                    margin-right:  3.25em;
                    display: inline-block;
                    position: relative;
                }
                    #main-content header ul li:after {
                        content: '\00bb'; position: absolute;
                        right: -2em; top: 0.8625em;
                        color: #B3B3B3;
                    }
                    #main-content header ul li:last-child {margin-right: 0;}
                    #main-content header ul li:last-child:after {content: none;}

        #leaderboard {
            width: 100%; padding: 1.625em; text-align: center;
            margin-bottom: 1.625em;
            -webkit-border-radius: 0.8125em 0.8125em 0.8125em 0.8125em;
                    border-radius: 0.8125em 0.8125em 0.8125em 0.8125em;
        }
            #tableFrame {height: 832px; overflow: hidden; position: relative;}
            .tableNav {position: absolute; bottom: 0; left: 0; width: 60%;}
                .tableNav td {width: 594px; background-color: #F2F2F2;}

    #search-bar {height: 6.5em; padding-top: 2.4375em; text-align: center;}
        
        #search-bar form div {display: inline-block; width: 20%; float: left;}
        #search-bar form div:first-child {width: 80%; }

             #search-bar form i {
                display: inline-block; font-size: 2.5em; margin-top: 0.5em; margin-right: 0.25em;
            }

            #search-bar input[type="text"] {
                background-color: #7BC610; border: none; border-bottom: 1px #B0DD70 solid;
                width: 90%; color: white; font-size:1.875em;
                font-family: 'Roboto Slab', serif; font-weight:300;
            }
            input::-webkit-input-placeholder {
               color: white;
            }

            input:-moz-placeholder { /* Firefox 18- */
               color: white;  
            }

            input::-moz-placeholder {  /* Firefox 19+ */
               color: white;  
            }

            input:-ms-input-placeholder {  
               color: white;  
            }

            #search-bar input[type="submit"] {
                display: inline-block; color: white;
                padding: 0.8125em 1.625em; font-size: 16px;
                background: none; border-color: #B0DD70;
                text-shadow: none;
            } #search-bar input[type="submit"]:hover {background-color: #2E6030;}


    #page-footer {padding-top: 3.25em; padding-bottom: 3.25em;}

    
    /* LOADING */

    .loading {
        position: absolute; top:0;
        z-index: 99;
        width: 100%; height:100%;
        background-color: #141414; 
        opacity:0.9; overflow: hidden;
        filter:alpha(opacity=90); /* For IE8 and earlier */
    }
        .loading .inner {
            position:relative;
            width:100%; height:100%;
            
        }
    .loading .box {
        position: absolute; top: 50%;
        overflow: hidden; z-index: 99;
        padding-top: 1em;
        width: 100%; height:100%;
    }
    
    .loadComplete {display:none;}


/*  ==========================================================================
    3.  Typography

    BASELINE FROM '1.61803398875' (GOLDEN RATIO);
    13px (0.8125em)
    26px (1.625em)
    52px (3.25em)
    78px (4.875em)
    104px (6.5em)

    ^^ Baseline calculation = desired baseline (ie 3.25em) / font-size
    

    FONT-SIZE 

    FONT-SIZE HIERARCHY = 13px, 16px, 28px, 44px, 72px, 116px

    13px = 0.8125em {13/16 = 0.8125} // 16px = 1em {16/16 = 1} // 28px = 1.75em {28/16 = 1.75} // 44px = 3.25em {44/16 = 2.75} // 72px = 4.5em {72/16 = 4.5} // 116px = 7.25em {116/16 = 7.25}
    
    FONT-SIZE-SPECIAL;    
    20px = 1.25em {20/16 = 1.25} // 30px = 1.875em {30/16 = 1.875} // 58px = 3.625em {58/16 = 3.625} // 68px = 4.25em {68/16 = 4.25} // 80px = 5em {80/16 = 5} // 100px = 6.25em {100/16 = 6.25}

    LINE-HEIGHT;         
    26px = 1.625em {26/16 = 1.625} --------------------------------------------------------------] // 52px = 3.25em {52/16 = 3.25} ------------------------------------]

    ========================================================================== */


    h1, h2, h3, h4, h5, h6, th, td {font-family: 'Roboto', sans-serif; font-weight:300; margin: 0 0 26px 0;} 

        /* desired line-height / font-size */

        #banner h1 {
            font-size: 3.625em; line-height: 0.8965517em; color: white;
            font-family: 'Roboto Slab', serif; font-weight:300; 
            margin-bottom: 0.8965517em; clear: both;
        }
        #main-content header h1,
        #main-content header h2,
        #main-content header h3 {
            font-size: 1.75em; margin: 0; color: #442E60;
        }
        #main-content header h1 {font-weight: 700;}
        h2 {font-size: 1.75em; line-height: 26px;}
        h3 {font-size: 1.75em; line-height: 26px;} 
        h4 {font-size: 1em; line-height: 26px; margin-bottom: 0;} 
        h5 {font-size: 1em; line-height: 26px;} 

    p, ul, blockquote, pre, td, th, label, time {font-size: 1em; line-height: 1.625em; margin: 0 0 1.625em 0; } 
        p.doubleSpace {margin-bottom:3.25em;}

    small, small p {font-size: 0.8125em; line-height: 2em; display:block;} /* 1.625em (desired line-height) / 0.8125em (font-size) */

    a {text-decoration:none; color:#333333; font-family: 'Roboto', sans-serif; font-weight:300; text-transform: uppercase; cursor: pointer;} a:hover {color:#F78633;}
        .logo {display: block;}


    ul.brandLogos {list-style: none; padding: 0;}
        ul.brandLogos li {display: inline-block; margin-right: 3.25em;}
            ul.brandLogos li:last-child {margin-right: 0;}

    #page-footer p, #page-footer a {
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; color: white; text-transform: none;

    }   #page-footer a {border-bottom: 2px #2A1D3F solid; padding-bottom: 0.8125em;}
        #page-footer a:hover {color: #7BC610;}

    .textCenter {text-align: center;}


/*  ==========================================================================
    4. buttonLinks
    ========================================================================== */

    .nav-buttonLink { display: none; } /* hide the navigation buttonLink by default */

    /*  Block buttonLinks  */
    .buttonLink {
        font-size: 1.625em; color: white; font-family: 'Roboto', sans-serif; font-weight:300;
        display: inline-block; text-decoration:none; background-color: #7BC610; 
        margin-bottom:1.625em; padding: 0.40625em 1.625em;
    }
        .buttonLink:hover {background-color: #442E60; color: white;}
        nav .buttonLink {font-size: 1.25em;}

        input.buttonLink {width: 50%;}


/*  ==========================================================================
    5.  Images
    ========================================================================== */

    .brand { 
        display:block; margin: 0 auto; margin-bottom: 1.625em;
        width: 234px; height: 232px; 
    }
        /*.svg .brand img {display: none;}
        .svg .brand { 
            background: url('../img/svg/In-Hand_Logo.svg') no-repeat scroll -1.625em  50%;
            background-size: 100%;
        }*/


/*  ==========================================================================
    6.  Navigation
    ========================================================================== */

    nav {
        /*margin-top:3.25em;*/ margin-bottom:1.625em; float:right; 
    }
        nav ul {list-style-type:none; margin: 0 0 1.625em 0; padding:0; margin:0;}
            nav ul li {
                display: inline-block; margin-right: 0.8125em;
            }
                nav ul li:last-child {margin-right: 0em;}

            nav a {
                color: white; text-transform: uppercase;
                border: 1px white solid; padding: 0.8125em;
                -moz-opacity: 0.50;
                opacity:  0.50;
                -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=50);
                filter:alpha(opacity=50);
            }
                nav a:hover {
                    color: #7BC610;
                    -moz-opacity: 1;
                    opacity:  1;
                    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
                    filter:alpha(opacity=100);
                }
            nav i {font-size: 1.25em;}


/*  ==========================================================================
    7.  Drop Down Menu
    ========================================================================== */

    /*Initialize*/
    ul#menu, ul#menu ul.sub-menu {
        padding:0;
        margin: 0;
    }
    #main-content header ul li .dropdown-menu li {
        list-style-type: none;
        display: inline-block;
        margin: 0; margin-bottom: 0.15em; padding: 0.675em 0;
        width: 100%;
        left: 0;
        background-color: white;
    }
        #main-content header ul li .dropdown-menu li:after {content: none;}

    /*Make the parent of sub-menu relative*/
    .dropdown {
        position: relative;
    }
    /*sub menu*/
    .dropdown-menu {
        display:none; width: auto;
        position: absolute; left: 0; right: 0;
        padding: 0; margin: auto 0; margin-top: 1em;
        z-index: 99;
    }
    .dropdown.open .dropdown-menu {
        display:block;
    }



/*  ==========================================================================
    8. Table
    ========================================================================== */

    table {
        width: 60%; margin-bottom: 1.625em;
        font-size: 1.25em; float: left;
    }
        tr {
<<<<<<< HEAD
            border-bottom: 1px #E6E6E6 solid; height: 3.25em;
            cursor: pointer;
=======
            border-bottom: 1px #E6E6E6 solid; height: 3.25em; 
>>>>>>> cd38f55efc16bfee7d9af091d49326e6231504f8
        }
        tr:hover {background-color: #E6E6E6;}
            tr:hover td:nth-child(6n) a.active i,
            tr:hover td:nth-child(6n) a i {color: #442E60;}

            td {/*border-right: 1px #E6E6E6 solid;*/ margin:0; padding: 0;}
                td:nth-child(4n),
                td:nth-child(5n) {
                    width: 7em;
                    font-weight: bold;
                }
                td:nth-child(5n) {width: 3em;}
<<<<<<< HEAD
                td:nth-child(6n) {padding: 0 1em;}
                    td:nth-child(6n) a i {font-size: 1.5em}
                    td:nth-child(6n) a.active i {color: #442E60;}
                    td:nth-child(6n) a:hover i {color: #A344CD;}
=======
                td:nth-child(6n) a i {font-size: 1.5em}
                td:nth-child(6n) a.active i {color: #442E60;}
                td:nth-child(6n) a:hover i {color: #A344CD;}
>>>>>>> cd38f55efc16bfee7d9af091d49326e6231504f8
            th {text-transform: uppercase; color: #442E60; font-weight:700; padding-bottom: 0.8125em;}

    /* MEDALS */
    tr:nth-child(2) td:first-child,
    tr:nth-child(3) td:first-child,
    tr:nth-child(4) td:first-child { position: relative; font-size: 1.25em;}

        td:first-child i {position: relative; font-size: 1.75em;}
        td:first-child i span {
            display: inline; position: absolute;
            left: 0; right: 0; 
            margin: 0; padding: 0;
            color: white; font-size: 0.45em;
        }


<<<<<<< HEAD
    #leaderboard th span,
    .scroll-down span,
    .scroll-up span{
=======
    #leaderboard th span {
>>>>>>> cd38f55efc16bfee7d9af091d49326e6231504f8
        margin: 0 auto;
        height: 66px; width:66px; display: block;
        background: url('../img/table-icon_set1.png') scroll 0px 0px;
        background-size: auto;
    }
        #leaderboard th:nth-child(2) span {background: url('../img/table-icon_set1.png') scroll -66px 0;}
        #leaderboard th:nth-child(3) span {background: url('../img/table-icon_set1.png') scroll -132px 0;}
        #leaderboard th:nth-child(4) span {background: url('../img/table-icon_set1.png') scroll -198px 0;}
        #leaderboard th:nth-child(5) span {background: url('../img/table-icon_set1.png') scroll -264px 0;}
            #leaderboard th:nth-child(2) span:hover {background: url('../img/table-icon_set1.png') scroll -66px -66px;}
            #leaderboard th:nth-child(3) span:hover {background: url('../img/table-icon_set1.png') scroll -132px -66px;}
            #leaderboard th:nth-child(4) span:hover {background: url('../img/table-icon_set1.png') scroll -198px -66px;}
            #leaderboard th:nth-child(5) span:hover {background: url('../img/table-icon_set1.png') scroll -264px -66px;}

            /* SVG */
            .svg #leaderboard th span {background: url('../img/svg/table-icon_set1.svg') scroll 0px 0px;}

                .svg #leaderboard th:nth-child(2) span {background: url('../img/svg/table-icon_set1.svg') scroll -66px 0;}
                .svg #leaderboard th:nth-child(3) span {background: url('../img/svg/table-icon_set1.svg') scroll -132px 0;}
                .svg #leaderboard th:nth-child(4) span {background: url('../img/svg/table-icon_set1.svg') scroll -198px 0;}
                .svg #leaderboard th:nth-child(5) span {background: url('../img/svg/table-icon_set1.svg') scroll -264px 0;}
                    .svg #leaderboard th:nth-child(2) span:hover {background: url('../img/svg/table-icon_set1.svg') scroll -66px -66px;}
                    .svg #leaderboard th:nth-child(3) span:hover {background: url('../img/svg/table-icon_set1.svg') scroll -132px -66px;}
                    .svg #leaderboard th:nth-child(4) span:hover {background: url('../img/svg/table-icon_set1.svg') scroll -198px -66px;}
                    .svg #leaderboard th:nth-child(5) span:hover {background: url('../img/svg/table-icon_set1.svg') scroll -264px -66px;}
<<<<<<< HEAD

       
        td.table-nav {padding: 0; margin:0; width: 100%; height: 100%; }
            a.scroll-down,
            a.scroll-up {
                padding: 0; margin:0; display: inline-block; float:left; width:50%;height: 100%;
            }
                a.scroll-down {background-color: #E6E6E6;}
                a.scroll-down:hover,
                a.scroll-up:hover {background-color: white;}

            a.scroll-down span {background: url('../img/table-icon_set1.png') scroll -330px 0;}
            a.scroll-up span {background: url('../img/table-icon_set1.png') scroll -330px -66px;}
                .svg a.scroll-down span {background: url('../img/svg/table-icon_set1.svg') scroll -330px 0;}
                .svg a.scroll-up span {background: url('../img/svg/table-icon_set1.svg') scroll -330px -66px;}
=======
>>>>>>> cd38f55efc16bfee7d9af091d49326e6231504f8


    .positive {color: #2E6030;}
    .negative {color: #A344CD;}

    .home-info {
        color: #442E60;
<<<<<<< HEAD
        width: 38%; height: 783px; float:left; display: block;
=======
        width: 38%; height: 714px; float:left; display: block;
>>>>>>> cd38f55efc16bfee7d9af091d49326e6231504f8
        padding-top: 3.25em;
    }

        .circle-rank {
            width: 5em; height: 5em; margin: 0 auto; margin-bottom: 1.625em;
            background-color: #A344CD; border: 10px #442E60 solid;
            -webkit-border-radius: 50% 50% 50% 50%;
                    border-radius: 50% 50% 50% 50%;
        }    
            .circle-rank p {
                color: #E6E6E6; font-size: 3.25em; margin: 0; 
                font-family: 'Roboto', sans-serif;font-weight: 700;
            }

        .home-info h1 {
            font-size: 1.875em; font-weight: 700;
        }
        .home-info h2 {
            font-size: 5em; font-weight: 700; margin-bottom: 1.625em;
        }


    /* Xi - D3 Graphic */
    .graph-wrapper {
        width: 320px;
        margin: 20px auto;

    }
    #daylyGraph,
    #monthlyGraph {
        height: 100px;
        width:100%;
        margin: 0 auto;

    }
    #daylyGraph path {
       stroke: #1b70e0;
       stroke-width: 1;
       fill: none;
    }

    #monthlyGraph path {
        stroke: #2ecc71;
      stroke-width: 1;
      fill: none;
    }

    div.tooltip {   
      position: absolute;           
      text-align: center;           
      width: 60px;                  
      height: 28px;                 
      padding: 2px;             
      font: 12px sans-serif;        
      background: lightsteelblue;   
      border: 0px;      
      border-radius: 8px;           
      pointer-events: none;         
    }


/*  ==========================================================================
    9. Animations
    ========================================================================== */
    
    a {
        -webkit-transition: all 200ms ease-in-out;
        -moz-transition:all 200ms ease-in-out;
        -ms-transition:all 200ms ease-in-out;
        transition:all 200ms ease-in-out;
    } 

    /* Image animations  */
    body { /* Addresses a small issue in webkit: http://bit.ly/NEdoDq */
    -webkit-backface-visibility: hidden;
    }
    .animated {
        -webkit-animation-duration: 1s;
           -moz-animation-duration: 1s;
             -o-animation-duration: 1s;
                animation-duration: 1s;
        -webkit-animation-fill-mode: both;
           -moz-animation-fill-mode: both;
             -o-animation-fill-mode: both;
                animation-fill-mode: both;
    }

    .animated.hinge {
        -webkit-animation-duration: 2s;
           -moz-animation-duration: 2s;
             -o-animation-duration: 2s;
                animation-duration: 2s;
    }

    /* Bounce Animations  */
    @-webkit-keyframes bounceInUp {0% {opacity: 0; -webkit-transform: translateY(30em); } 60% {opacity: 1; -webkit-transform: translateY(-0.5em); } 80% {-webkit-transform: translateY(0.5em); } 100% {-webkit-transform: translateY(0); } }

    @-moz-keyframes bounceInUp {0% {opacity: 0; -moz-transform: translateY(30em); } 60% {opacity: 1; -moz-transform: translateY(-0.5em); } 80% {-moz-transform: translateY(0.5em); } 100% {-moz-transform: translateY(0); } }

    @-o-keyframes bounceInUp {0% {opacity: 0; -o-transform: translateY(30em); } 60% {opacity: 1; -o-transform: translateY(-0.5em); } 80% {-o-transform: translateY(0.5em); } 100% {-o-transform: translateY(0); } }

    @keyframes bounceInUp {0% {opacity: 0; transform: translateY(30em); } 60% {opacity: 1; transform: translateY(-1em); } 80% {transform: translateY(1em); } 100% {transform: translateY(0); } }
    
    .bounceInUp {
        -webkit-animation-name: bounceInUp;
        -moz-animation-name: bounceInUp;
        -o-animation-name: bounceInUp;
        animation-name: bounceInUp;
        -webkit-animation-delay: 1s;
        -moz-animation-delay: 1s;
        -o-animation-delay: 1s;
        animation-delay: 1s;
    }

    /* Fade In Animations  */
    @-webkit-keyframes fadeInLeft {0% {opacity: 0; -webkit-transform: translateX(-20px); } 100% {opacity: 1; -webkit-transform: translateX(0); } }
    @-moz-keyframes fadeInLeft {0% {opacity: 0; -moz-transform: translateX(-20px); } 100% {opacity: 1; -moz-transform: translateX(0); } }
    @-o-keyframes fadeInLeft {0% {opacity: 0; -o-transform: translateX(-20px); } 100% {opacity: 1; -o-transform: translateX(0); } }
    @keyframes fadeInLeft {0% {opacity: 0; transform: translateX(-20px); } 100% {opacity: 1; transform: translateX(0); } } 

    .fadeInLeft {
        -webkit-animation-name: fadeInLeft;
        -moz-animation-name: fadeInLeft;
        -o-animation-name: fadeInLeft;
        animation-name: fadeInLeft;
        -webkit-animation-delay: 3s;
        -moz-animation-delay: 3s;
        -o-animation-delay: 3s;
        animation-delay: 3s;
    }

    /* LOADING ANIMATIONS */
    .animate-enter {
      -webkit-animation: enter_sequence 1s linear; /* Safari/Chrome */
      -moz-animation: enter_sequence 1s linear; /* Firefox */
      -o-animation: enter_sequence 1s linear; /* Opera */
      animation: enter_sequence 1s linear; /* IE10+ and Future Browsers */
    }
    @-webkit-keyframes enter_sequence {
      from { opacity:0; }
      to { opacity:1; }
    }
    @-moz-keyframes enter_sequence {
      from { opacity:0; }
      to { opacity:1; }
    }
    @-o-keyframes enter_sequence {
      from { opacity:0; }
      to { opacity:1; }
    }
    @keyframes enter_sequence {
      from { opacity:0; }
      to { opacity:1; }
    }

    .circle {
        background-color: rgba(20,20,20,0);
        border: 5px solid rgba(37,153,193,0.9);
        opacity: 0.9;
        border-right: 5px solid rgba(20,20,20,0);
        border-left: 5px solid rgba(20,20,20,0);
        border-radius: 50px;
        box-shadow: 0 0 35px #2599C1;
        width: 50px;
        height: 50px;
        margin: 0 auto;
        -moz-animation: spinPulse 1s infinite ease-in-out;
        -webkit-animation: spinPulse 1s infinite linear;
    }

    .circle1 {
        background-color: rgba(20,20,20,0);
        border: 5px solid rgba(37,153,193,0.9);
        opacity: 0.9;
        border-left: 5px solid rgba(20,20,20,1);
        border-right: 5px solid rgba(20,20,20,1);
        border-radius: 50px;
        box-shadow: 0 0 15px #2599C1;
        width: 30px;
        height: 30px;
        margin: 0 auto;
        position: relative;
        top: -50px;
        -moz-animation: spinoffPulse 1s infinite linear;
        -webkit-animation: spinoffPulse 1s infinite linear;
    }
    /**/
    @-moz-keyframes spinPulse {
        0% {
            -moz-transform: rotate(160deg);
            opacity: 0;
            box-shadow: 0 0 1px #2599C1;
        }

        50% {
            -moz-transform: rotate(145deg);
            opacity: 1;
        }

        100% {
            -moz-transform: rotate(-320deg);
            opacity: 0;
        }
    }

    @-moz-keyframes spinoffPulse {
        0% {
            -moz-transform: rotate(0deg);
        }

        100% {
            -moz-transform: rotate(360deg);
        }
    }

    @-webkit-keyframes spinPulse {
        0% {
            -webkit-transform: rotate(160deg);
            opacity: 0;
            box-shadow: 0 0 1px #2599C1;
        }

        50% {
            -webkit-transform: rotate(145deg);
            opacity: 1;
        }

        100% {
            -webkit-transform: rotate(-320deg);
            opacity: 0;
        }
    }

    @-webkit-keyframes spinoffPulse {
        0% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }


/*  ==========================================================================
    10.  Media Queries
    ========================================================================== */

    
    /*  DESKTOP - DEFAULT  */

    @media only screen and (min-width:990px) {

    }


    /*  TABLETS  */

    @media only screen and (min-width : 768px) and (max-width : 989px) {

        .wrapper {width: 768px;}
        #banner {height: auto;}

        /* Typography */
        table {
            font-size: 1em;
        }
        #banner h1 {
            font-size: 2.625em;
            margin-top: 1.25em;
        }
        #main-content header h1, #main-content header h2, #main-content header h3 {font-size: 1.25em;}
        .home-info h1 {font-size: 1.5em;}
        .home-info h2 {font-size: 4.5em;}

        #page-footer a {padding-bottom: 0.125em;}
        #page-footer span {display: inline-block;}

<<<<<<< HEAD
        /* Table */
        #leaderboard {width: 90%; margin: 0 auto;}
        td:nth-child(4n), td:nth-child(5n) {width: auto;}

        .home-info {color: #442E60; width: 40%; overflow: hidden;}
            .graph-wrapper {width: auto;}

        /* Search Bar */
        #search-bar input[type="text"] {width: 80%;}

        /* Images */
        .brandLogos a,
        .brandLogos a img {width: 80%;}
        ul.brandLogos li {margin-right: 0;}
        .brand {height: auto;}
=======
        .wrapper {width: 90%;}

        /* Typography */
        #banner h1 {
            margin-top: 3.25em;
        }

        #page-footer a {padding-bottom: 0.125em;}
        #page-footer span {display: inline-block;}

        /* Table */
        #leaderboard {width: 96%; }

        /* Images */
        .brand {width: 20%; height: auto; position: absolute; top: 1.625em; left: 1.625em}
            .brand img {width: 100%;}
>>>>>>> cd38f55efc16bfee7d9af091d49326e6231504f8

    }


    /*  MOBILE  */

    @media only screen and (max-width:767px) {

        /*  Layout  */
        .wrapper {width: 90%;}
<<<<<<< HEAD
        #banner {height: auto; padding-top: 3em;}
=======
        #banner {height: 25em;}
>>>>>>> cd38f55efc16bfee7d9af091d49326e6231504f8

        #main-content header ul {padding: 0;}
        #main-content header ul li {
            margin-right: 0.5em;
            padding: 0.5em;
        }
            #main-content header ul li:first-child {margin-bottom: 1em; }
            #main-content header ul li:after {content: none;}

        /* Typography */
        #banner h1 {font-size: 2em;}
        
        #main-content header h1, 
        #main-content header h2, 
        #main-content header h3 {
            font-size: 1em;
        }

        #page-footer {text-align: center;}
        #page-footer a {padding-bottom: 0.125em;}
        #page-footer span {display: inline-block;}

        .buttonLink {font-size: 1em; font-weight: 700;}

        ul.brandLogos li {margin-right: 0;}


        /* Table */
        #leaderboard {
            width: 92%;
            padding: 0.825em;
            text-align: center;
        }
        table {width: 100%;}
        th {font-size: 0.8em;}
        th:nth-child(1n),
        td:nth-child(1n) {width: 2em;}

        th:nth-child(3n),
        td:nth-child(3n),
        th:nth-child(5n),
        td:nth-child(5n) {display: none;}

        th:nth-child(6n),
        td:nth-child(6n) {display: table-cell;}

        .home-info {display: none;}

<<<<<<< HEAD
        .tableNav {width: 100%;}
            .tableNav td {width: 594px;}

=======
>>>>>>> cd38f55efc16bfee7d9af091d49326e6231504f8

        /* Search */
        #search-bar {
            height: auto; padding-top: 2.4375em;
        }
        #search-bar input[type="text"] {
            font-size: 1.5em;
        }
        #search-bar form div {
            width: 100%; margin-bottom: 1.625em;
        }
        #search-bar form div:first-child {
            width: 100%;
        }

        /* Images */
<<<<<<< HEAD
        ul.brandLogos {margin: 0; display: inline-block;}
            .brandLogos a,
            .brandLogos a img {width: 80%;}
            ul.brandLogos li {margin-right: 0;}

=======
>>>>>>> cd38f55efc16bfee7d9af091d49326e6231504f8
        .brand {width: 50%; height: auto;}
            .brand img {width: 100%;}

    }

    @media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

    }



/*  ==========================================================================
    11.  Colours
    ========================================================================== */
    
    .greenText {color: #7BC610;}
    .darkGreenText {color: #2E6030;}
    .purpleText {color: #442E60;}
    .lightPurpleText {color: #A344CD;}
    .whiteText {color: #FFFFFF;}
    .greyText {color: #F2F2F2;}
    .darkGreyText {color: #E6E6E6;}

    .greenBG {background-color: #7BC610;}
    .darkGreenBG {background-color: #2E6030;}
    .purpleBG {background-color: #442E60;}
    .lightPurpleBG {background-color: #A344CD;}
    .whiteBG {background-color: #FFFFFF;}
    .greyBG {background-color: #F2F2F2;}
    .darkGreyBG {background-color: #E6E6E6;}




/*  ==========================================================================
    Helper classes
    ========================================================================== */

    .ir {background-color: transparent; border: 0; overflow: hidden; *text-indent: -9999px; } .ir:before {content: ""; display: block; width: 0; height: 150%; } .hidden {display: none !important; visibility: hidden; } .visuallyhidden {border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; } .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; } .invisible {visibility: hidden; } .clearfix:before, .clearfix:after {content: " "; display: table; } .clearfix:after {clear: both; } .clearfix {*zoom: 1; }

/*  ==========================================================================
    Print styles
    ========================================================================== */

    @media print {
        * {background: transparent !important; color: #000 !important; /* Black prints faster: h5bp.com/s */ box-shadow: none !important; text-shadow: none !important; } a, a:visited {text-decoration: underline; } a[href]:after {content: " (" attr(href) ")"; } abbr[title]:after {content: " (" attr(title) ")"; } /* * Don't show links for images, or javascript/internal links */ .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {content: ""; } pre, blockquote {border: 1px solid #999; page-break-inside: avoid; } thead {display: table-header-group; /* h5bp.com/t */ } tr, img {page-break-inside: avoid; } img {max-width: 100% !important; } @page {margin: 0.5cm; } p, h2, h3 {orphans: 3; widows: 3; } h2, h3 {page-break-after: avoid; } }