<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"  ng-app="HomeEnergyApp"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>AlertMe - Smart energy monitoring for the home</title>
        <meta name="description" content="AlertMe - Smart energy monitoring for the home">
        <meta name="viewport" content="width=device-width">

        <!-- Gridset CSS -->
        <!--[if (!IE) | (gt IE 9)]><!--><link rel="stylesheet" href="./css/gridset.css" /><!--<![endif]-->
        <!--[if IE 9]><link rel="stylesheet" href="./css/gridset-ie-9.css" /><![endif]-->
        <!--[if lte IE 8]><link rel="stylesheet" href="./css/gridset-ie-lte8.css" /><![endif]-->
        <link rel="stylesheet" href="css2/normalize.min.css">
        <link rel="stylesheet" href="css2/formalize.css">
        <link rel="stylesheet" href="css2/mfglabs_iconset.css">
        <link rel="stylesheet" href="css2/main.css">

		<script src="js/vendor/socket.io.js"></script>
		<script src="js/vendor/d3.v3.min.js"></script>
		<script src="js/vendor/angular.min.js"></script>
		<script src="js/vendor/angular-touch.min.js"></script>
		<script src="js/vendor/ui-bootstrap.min.js"></script>
		<script src="js/vendor/underscore-min.js"></script>		
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>

        <link rel="canonical" href="http://alertme.redninja.co.uk" />
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:site" content="@alertmesays"/>
        <meta name="twitter:domain" content="AlertMe - Smart energy monitoring for the home"/>
    </head>
    <body ng-controller="homeEnergyCtrl">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
      <div id="container">
        <header id="banner" role="banner" class="clearfix">
        <!-- START - #banner -->

          <div  class="wrapper">
          <!-- START - .wrapper -->
          <div class="d3-d10 t-all m-all">

            <ul class="brandLogos">
              <li>
                <a class="m-hide" rel="home" href="http://www.arm.co.uk" title="ARM"> 
                  <img src="img/Logo_ARM.png" alt="ARM">
                </a>
              </li>
              <li>
                <a class="brand" rel="home" href="http://alertme.redninja.co.uk" title="AlertMe - Smart energy monitoring for the home"> 
                  <img src="img/AlertMe-Logo.png" alt="AlertMe - Smart energy monitoring for the home">
                </a>
              </li>
              <li>
                <a class="m-hide" rel="home" href="http://www.redninja.co.uk" title="Innovative Web and Mobile Applications"> 
                  <img src="img/Logo_RedNinja.png" alt="Innovative Web and Mobile Applications">
                </a>
              </li>
            </ul>

            <h1>Save money whilst helping the environment</h1>
            <p><a href="#main-content" title="View monthly leaderboard" class="buttonLink" ng-click="$event.stopPropagation();">View monthly leaderboard</a></p>

            <nav id="primary-nav">
            <!-- START - #primary-nav -->

              <ul>
                  <li><a href="#search-bar"><i class="icon-magnifying" aria-hidden="true"></i></a></li>      
                  <li><a href="#">Signup for news</a></li>
              </ul>

            <!-- END - #primary-nav -->
            </nav>

          </div>
          <!-- END - .wrapper -->
          </div>

        <!-- END - #banner -->
        </header>

        <div id="main-content" class="clearfix" role="main">
        <!-- START - #main-content -->


          <section class="whiteBG breakout clearfix">
          <!-- START - .whiteBG -->

            <article class="wrapper">
            <!-- START - .wrapper -->
            <div class="d-all t-all m-all">

              <header>
                <ul>
                  <li><h1>Alert Me Monthly Leaderboard</h1></li>
                  <li><h2>{{selectedYear}}</h2></li>
                  <li class="dropdown">
                  	<a class="dropdown-toggle"><h3>{{month_Lables[selectedMonth]}}</h3></a>
					  <ul class="dropdown-menu">
						<li ng-repeat="choice in month_Lables" ng-show=" checkMonthLabel($index) ">
						  <a ng-click="$event.stopPropagation(); selectMonth($index)"><h4>{{choice}}</h4></a>
						</li>
					  </ul>
                  </li>
				  <!---->
                </ul>
              </header>
              
              <div id="leaderboard" class="greyBG clearfix">
              <!-- START - #leaderboard -->
              <div id="tableFrame">
			  <!-- START - #tableFrame -->

				<table id="table">
					<tr>
						<th><span></span>Rank</th>
						<th><span></span>ID</th>
						<th><span></span>USAGE</th>
						<th><span></span>SAVINGS</th>
						<th><span></span>CHANGE</th>
						<th></th>
					</tr>
				    <tr class="room" ng-repeat="home in homes   " ng-cloak id="home{{getHomeID(home)}}" ng-class="{'active': $index == (selectedHome - start)}"  ng-click="$event.stopPropagation(); selectHomeDetail(home)"> 
						<td ng-if="home.rank<=3"> 
						    <i ng-class="{'icon-star':home.rank<=3,'lightPurpleText':home.rank==1}"> 
							    <span >{{home.rank}}</span> 
							</i>	
						</td>
						<td ng-if="home.rank>3"> {{home.rank}}	</td> 
						<td>{{getHomeID(home)}}</td>
						<td>{{home.power}} KWH</td>
						<td>£{{home.saving}}</td><!--getCost(home)-->
						<td class = 'positive' ng-if="  home.percentage  >0 "> + {{ getPercentage( home.percentage )  }} %</td>
						<td class = 'negetive' ng-if="  home.percentage  <0 "> - {{ -getPercentage( home.percentage )    }} %</td>
						<td><a href="" ><i class="icon-information_black icon2x whiteText" aria-hidden="true"></i></a></td>			
					</tr>
					<!-- START - TABLE MENU -->
					<tr class="tableNav">
						<td colspan="6">
						  <a class="scroll-down"  title="Scroll down leaderboard" ng-click="direct(false)" ><span></span></a>
						  <a class="scroll-up"  title="Scroll up leaderboard" ng-click="direct(true)" ><span></span></a>
						</td>
					</tr>
					<!-- END - TABLE MENU -->
				</table>

                <aside class="home-info darkGreyBG clearfix">
                <!-- START - .home-info -->

                  <div class="circle-rank"><p>{{homes[selectedHome].rank}}</p></div>

                  <h1 ng-cloak >House #{{getHomeID(homes[selectedHome])}} has saved</h1>
                  <h2 ng-cloak >£{{  homes[selectedHome].saving}}</h2>

                <!--     END - .home-info -->
					<div class="graph-wrapper">	
						<p>
							<div id="daylyGraph"></div>
						</p>
						<p>Todays Energy Use</p>
						<p>
							<div id="monthlyGraph"></div>
						</p>
						<p>This Months Energy Use</p>
					</div>						
                </aside>

              <!-- END - #tableFrame -->    
			  </div>
              <!-- END - #leaderboard -->
              </div>

              <small class="textCenter"><em>* All energy usage readings and saving calculations are based on a flat rate of 13p per unit or kWh of electricity</em></small>

            </div>
            <!-- END - .wrapper -->
            </article>

          <!-- END - .whiteBG -->
          </section>


          <section id="search-bar" class="greenBG clearfix">
          <!-- START - .greenBG -->

            <div class="wrapper">
            <!-- START - .wrapper -->
            <div class="d-all t-all m-all">

                <form action="" method="post" novalidate="">
          
                  <div id="field1" class="field">
                    <i class="icon-magnifying icon2x whiteText" aria-hidden="true"></i>
                    <input type="text" ng-model="selected" name="search" id="search" typeahead="state for state in states | filter:$viewValue | limitTo:8" required="required" placeholder="Search by House ID...">
                  </div>
                   
                  <div id="form-submit" class="field">
                    <input type="submit" value="SEARCH" ng-click="searchHome()">
                  </div>
                </form>
				

            </div>
            <!-- END - .wrapper -->
            </div>

          <!-- END - .greenBG -->
          </section>


        <!-- END - #main-content -->
        </div>

        <footer id="page-footer" class="purpleBG clearfix">
        <!-- START - #page-footer -->

          <div class="wrapper">
          <!-- START - .wrapper -->
          <div class="d1-d6 t1-t4 m-all">

            <p>&copy; Copyright 2014 AlertMe.</p>

          </div>
          <div class="d7-d12 t5-t8 m-all">

            <p><a href="http://www.redninja.co.uk" title="App and Website design by Red Ninja Studios">Mobile App and Website design</a> by Red Ninja Studios</p>

          </div>
          <!-- END - .wrapper -->
          </div>

          <div id="loading" ng-class="{'loading': loading, 'loadComplete':!loading}" >
            <div class="inner">
  				<div class="box">
  					<div class="circle"></div>
  					<div class="circle1"></div>
  				</div>
            </div>
    	  </div>	

		<div id="loadingGraph" ng-class="{'loading-graph': graph_loading, 'loadComplete':!graph_loading}" >
		    <div class="inner">
				<div class="box">
					<div class="circle"></div>
					<div class="circle1"></div>
				</div>
		    </div>				
		</div>		  
		  
        <!-- END - #page-footer -->
        </footer>
		
	</div>	

        <script src="js/vendor/jquery-1.10.1.min.js"></script>
        <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>-->

        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        <!-- Gridset overlay script - toggles grid overlay on and off - You can remove this if you want. -->
        <script src="./js/gridset-overlay.js"></script> 

<script>
var homeEnergyApp = angular.module('HomeEnergyApp', ['ui.bootstrap','ngTouch']);

homeEnergyApp.filter('slice', function() {
  return function(arr, start, end) {
    return arr.slice(start, end);
  };
});

homeEnergyApp.controller('homeEnergyCtrl', function ($rootScope,$scope, $http, $interval, $modal) {

	$scope.loading = true;
	$scope.graph_loading = true;
	
	$scope.start = 0;
	$scope.end = 45;
	$scope.selectedHome = 0;
	$scope.limtedNumber = 10;
	
	$scope.selectedYear = 2014;
	$scope.selectedMonth = 0;
	$scope.year_Lables = [2013,2014];
	$scope.month_Lables = ['January','February','March','April','May','June','July','August','September','October','November','December'];
	
	$scope.homes = [];
	$scope.dayConsumption = [];
	$scope.monthConsumption = [];

	function getDocHeight() {
		var D = document;
		return Math.max(
			D.body.scrollHeight, D.documentElement.scrollHeight,
			D.body.offsetHeight, D.documentElement.offsetHeight,
			D.body.clientHeight, D.documentElement.clientHeight
		);
	}	
	
	$scope.sizeContent = function() {
		// fix height bug on .container as there was an annoying gap below
		var bodyHeight = window.outerHeight; 
        document.getElementById('loading').style.height = getDocHeight()+"px";
		console.log('change to new   '+bodyHeight, getDocHeight());		
	}
	
	$scope.$watchCollection('homes', function(newVal, oldVal){
		//console.log('changed  homes: ',newVal, oldVal);
		var changeHooms = oldVal;
		changeHooms.forEach(function(home){
			//console.log(home);
	        home.name = $scope.getHomeID(home);
		})
	}, true);
	
	$scope.loadEnergyData = function(id){
	    $scope.graph_loading = true;
		$http.get('/alert/home/discover'+'?id='+id).success(function(data) {
			$scope.graph_loading = false;
			console.log('loadEnergyData success  on id',id, data);
            extractData(data);			
		}).error(function(data, status, headers, config) {
			$scope.graph_loading = false;
		});	
		
		function extractData(data){
			console.log('motion sensor data',data[0].type, data[1].type);
			$scope.dayConsumption = [];
            $scope.monthConsumption = [];			
			data.forEach(function(home){
				console.log(home.url, home.energy, home.timeline);
				if(home.type == 'hour' && home.timeline != null){
					for(var i =1;i<home.timeline.length;i++){
						var previous = home.timeline[i-1], current = home.timeline[i];
						//console.log(  (previous.v - current.v), new Date(current.t), new Date(previous.t) );
						$scope.dayConsumption.push({t:new Date(current.t), v:current.v-previous.v});
					}
                    console.log('daily consumption ',$scope.dayConsumption);	
 					showDayGraph('#daylyGraph', $scope.dayConsumption);
				}else if(home.type == 'day'){
					for(var i =1;i<home.timeline.length;i++){
						var previous = home.timeline[i-1], current = home.timeline[i];
						//console.log(  (previous.v - current.v), new Date(current.t), new Date(previous.t) );
						$scope.monthConsumption.push({t:new Date(current.t), v:current.v-previous.v});
					}					
                    showMonthGraph('#monthlyGraph', $scope.monthConsumption);					
				}
			})            			
		}
	}
		
	$scope.loadMonthlyData = function(){
	    $scope.loading = true;
		$scope.sizeContent();
		$http.get('/alert/home/month?start='+new Date($scope.selectedYear,$scope.selectedMonth-1,1)+"&end="+new Date($scope.selectedYear,$scope.selectedMonth,1)).success(function(results) {
			
			$scope.sizeContent();
			
			$scope.loading = false;
			console.log('loadMonthlyData   ', new Date($scope.selectedYear,$scope.selectedMonth-1,1), new Date($scope.selectedYear,$scope.selectedMonth,1), results);
			var keys = Object.keys(results);
			//console.log(keys[0],  results [ keys[0] ].values );
			//console.log(keys[1],  results [ keys[1] ].values );									
			$scope.homes = results [ keys[1] ].values;
			$scope.homes.forEach(function(home){
			    var id = home.id;
				var new_energy = home.power;
				var arr = results [ keys[0] ].values;
			    for(var i=0;i<arr.length;i++){
				    if(id == arr[i].id)
					{
					    var old_energy = arr[i].power;
                        var pers =(new_energy-old_energy)/old_energy* 100;
						var saving = (new_energy-old_energy);
                        //console.log('percentage change  ',pers, new_energy, old_energy);
                        home.percentage = pers;		
						home.bad = false;
						home.saving = Math.floor(  saving * 0.13 *100 ) /100;
                        if( isNaN(home.percentage) ) home.bad = true;
                        if( home.percentage == Number.POSITIVE_INFINITY || home.percentage == Number.NEGATIVE_INFINITY ) home.bad = true;						
					}	
				}
			})
         
		    //var arrays= _.filter(results[ keys[1] ].values,function(value){return !isNaN(value.percentage)|| value.percentage != Number.POSITIVE_INFINITY || value.percentage != Number.NEGATIVE_INFINITY })
			//console.log(arrays);
			var arrays = _.filter(results[ keys[1] ].values,function(value){return value.bad == false; })
			$scope.homes  =  _.sortBy(arrays,function(value){return -value.saving;});
			console.log( $scope.homes );
			setRank( $scope.homes );
			
			$scope.loadEnergyData($scope.homes[0].id);
			
			d3.selectAll('#table')
			    .transition()
			    .ease("elastic")
			    .style('background-color', '#F2F2F2')
				.style("margin-top", '100px')
			    .transition()
			    .duration(500)
			    .style('background-color', '#ffcf00')
				.style("margin-top",'0px');
			d3.select('#table')
			    .transition()			
			    .delay(500)
				.duration(500)
			    .style('background-color','#F2F2F2');				
			
			
		}).error(function(data, status, headers, config) {
			$scope.loading = false;
		});
	}
	
	$scope.checkMonthLabel = function(index){
	    //console.log('checkMonthLabel  ',index,new Date().getTime());
	    return new Date().getTime() >= new Date($scope.selectedYear,index,1).getTime();
	}
	
	$scope.direct = function(up){
	    if(up){
		    if($scope.start >= 0 ){
			    if($scope.start >=10)
			    $scope.start-=10;
                else 
                $scope.start =0;				
			}	
		}else{
		    if($scope.start < $scope.homes.length -10)$scope.start+=10;
		}
		var header = 100;
		var id = $scope.homes[$scope.start].name;
	        var home = document.getElementById('home'+id); 		
	        console.log('select index  ',id, home.offsetLeft, home.offsetTop,   document.getElementById('table').offsetTop);
            d3.selectAll('#table')
			            .transition()
						.ease("elastic")
						.style("margin-top", -home.offsetTop+ header +'px');

            d3.select('#home'+id)
			            .transition()
						.ease("elastic")
			            .style('background-color', '#F2F2F2')
						.transition()
						.duration(500)
						.style('background-color', '#ffcf00');
						
			d3.select('#home'+id)
			            .transition()			
                        .delay(2000)
                        .style('background-color','#F2F2F2');		
		
	}
	
	function setRank(array){
	    for(var i=0;i<array.length;i++){
		    array[i].rank = i+1;
		}
		return array;
	}
	
	$scope.loadMonthlyData();

	$scope.getPercentage = function(value){
	    //console.log('------------pencentage   ',value);
	    return Math.floor(value);
	}
	
	$scope.sortHomeRank = function(){
		$scope.homes = _.sortBy($scope.homes,function(home){
		    return -home.power;
		})
		_.map($scope.homes,function(home,index){
            //console.log(home.energy,index);		
            home.rank = index+1;		
		})	
	}
	
    $scope.getHomeID = function(home){
	    if(home != null || home != undefined){   
		     var arr = home.id.split('/');
		    return arr[5];
		}	
	}	
	
	$scope.getCost = function(home){
        if(home != null || home != undefined){ 
            var rate = 0.13;		
	        return  Math.floor( home.power * rate *100)/100;
		}
	}
	
	$scope.selectHomeDetail = function(home){
	    var d = document.getElementById('home'+home.name); 		
	    console.log('select index  ',home,    d3.selectAll( '#home'+home.name ).attr('x'), d.offsetLeft, d.offsetTop);
		for(var i=0;i<$scope.homes.length;i++){
		    if($scope.homes[i].id == home.id)
	        {
			    $scope.selectedHome = i;
				$scope.loadEnergyData(home.id);			
				break;
			}
		}		    
	}
	
	$scope.selectMonth = function(index){
	    //console.log( $scope.month_Lables[index] );
		if($scope.selectedMonth!=index){
	       $scope.selectedMonth = index;
		   $scope.loadMonthlyData();	
		}     	
	}
	
	$scope.selectYear = function(index){
	    $scope.selectedYear = index;
	}
	
	
	
    $scope.selected = undefined;
    $scope.states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Dakota', 'North Carolina', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'];
    // Any function returning a promise object can be used to load values asynchronously
    $scope.getLocation = function(val) {
        return $http.get('http://maps.googleapis.com/maps/api/geocode/json', {
		  params: {
			address: val,
			sensor: false
		    }
		  }).then(function(res){
		    var addresses = [];
		    angular.forEach(res.data.results, function(item){
			    addresses.push(item.formatted_address);
		    });
		    return addresses;
		});
	};	
	
	$scope.searchHome = function(){
	    var position = -1, url ;
		var id = $scope.selected;
		console.log('search home  ',id);
		if(id == null) return;
	    $scope.homes.forEach(function(home){
		    if(home.name == id){
				console.log('found home  ',home.name , home.id, home.rank);
				position = home.rank-1;
				url = home.id;
			    return false;
			}
		})
		
		var header = 100;
		
		if(position >= 0 ){
		    $scope.selectedHome = position;
		    $scope.start = position;
			$scope.loadEnergyData(url);
			
	        var home = document.getElementById('home'+id); 		
	        console.log('select index  ',id, home.offsetLeft, home.offsetTop,   document.getElementById('table').offsetTop);
            d3.selectAll('#table')
			            .transition()
						.ease("elastic")
						.style("margin-top", -home.offsetTop+ header +'px');

            d3.select('#home'+id)
			            .transition()
						.ease("elastic")
			            .style('background-color', '#F2F2F2')
						.transition()
						.duration(500)
						.style('background-color', '#ffcf00');
						
			d3.select('#home'+id)
			            .transition()			
                        .delay(2000)
                        .style('background-color','#F2F2F2'); 						
		}
	}
	
	/***************************  ******************************************/
	var width = 400, height = 100, interpolation = "basis", updateDelay =280, transitionDelay = 280;

	/******************  tooltip ******************************/
	var tooltip = d3.select("body").append("div")
	                               .attr("class", "tooltip")
								   .style("opacity", 0);	
	var uktimeFormat = d3.time.format('%H:%M UK');
	var colors = [	"#CDFADB","#75B8C1","#DD8BB9","#BA97C1","#ff6600"];

	var time = d3.scale.linear().domain([0, 48]).range([-5, width]);
    //http://www.d3noob.org/2013/01/filling-area-under-graph.html
	var power = d3.scale.linear().range([height,0]);

	var now = new Date();	 
	var now, mindate, maxdate; 
    var dayScale = d3.time.scale().domain([ new Date( now.getFullYear (),now.getMonth(),now.getDate(),0)
	                                      , new Date( now.getFullYear (),now.getMonth(),now.getDate(),24)
										  ])
	                              .range([-5, width]);
	var monthScale = d3.time.scale().domain([new Date( now.getFullYear (),now.getMonth(),now.getDate(),0)
	                                       , new Date( now.getFullYear (),now.getMonth()-3,now.getDate(),0)
										   ])
									.range([-5, width]);
									
	var	day_timeline = d3.svg.line()
			.x(function(d,i) { 
				return dayScale(new Date(d.t));
			})
			.y(function(d) { 
			    console.log(d.v, power(d.v));
				return power(d.v); 
			})
			.interpolate("basis");
          
	var	month_timeline = d3.svg.line()
			.x(function(d,i) { 
				return monthScale(new Date(d.t)); 
			})
			.y(function(d) { 
				return power(d.v); 
			})
			.interpolate("basis");
			
			
    var vis = d3.select("#monthlyGraph").append("svg").attr("width", width).attr("height", height);
	var monthDataLayer = vis.append("g").attr('id','monthDataLayer');
	
	var vis2= d3.select('#daylyGraph').append("svg").attr("width",width).attr("height",height);
	var dayDataLayer = vis2.append('g').attr('id','dayDataLayer');
	var dayGraph = dayDataLayer.append('svg:path').attr("class","day");
	//http://bl.ocks.org/mbostock/3883195
	function showDayGraph(id, data){
        var power = d3.scale.linear().domain( [0, d3.max(data, function(d) { return d.v; })] ).rangeRound([0,height ]);;		
		var day_area = d3.svg.area()
		    .interpolate("basis")
		    .x(function(d,i) { //console.log(d.t , dayScale(new Date(d.t)));  
			                  return dayScale(new Date(d.t));  })
		    .y0(function(d,i) { //console.log('height  ', 0);  
			                    return height; })
		    .y1(function(d,i) { //console.log("real value ",d.v,power(d.v));    
			                   return height - power(d.v) });	

         d3.select('.day')
			   .datum(data)
               .attr("d", day_area).style("fill",function(){ return colors[1] })		
	}
  //https://github.com/rschmukler/agenda/graphs/contributors?from=2013-12-11&to=2014-02-12&type=c
	function showMonthGraph(id, data){		
            console.log('showMonthGraph monthly consumption haha',data);
		    var monthly = monthDataLayer.selectAll('.motion').data(data);
			var height = 100;
			var yscale = d3.scale.linear().domain([0, d3.max(data, function(datum) { return datum.v; })]).rangeRound([0, height]);		
			monthly.exit().remove();				
			monthly.enter()
			    .append('rect')
				.attr('class', function(d) {
						return 'motion';
					  })
				.attr('transform', function(d, i) {				
				    var x = i * 11, y = height - yscale(d.v);				    
				    return 'translate(' + x + ',' + y + ')';					  
			    })	  
                .transition()
				.duration(800) 					  
				.style("fill",function(){ return colors[1] })
			    .attr("width", 5)
			    .attr("height", function(d) { //console.log('what is this ',d,d.v, d.t);
				                              return  yscale(d.v);
											})
			    .style("fill-opacity", function(d,i){
				     return 0.8;                                        
			    });

			monthly.on("mouseover", function(d) {					
					tooltip.transition()        
						.duration(200)      
						.style("opacity", .9);      
					tooltip.html("<br/>"+ Math.floor(d.v*10)/10+"<br/>")  
						.style("left", (d3.event.pageX) + "px")     
						.style("top", (d3.event.pageY - 28) + "px");    
					})                  
				.on("mouseout", function(d) {       
					tooltip.transition()        
						.duration(500)      
						.style("opacity", 0);   
				});
        //////////////////////////////////////////////
		console.log('  axix  x   ',new Date( data[0].t) , new Date(data[data.length-1].t));
		var xScale = d3.time.scale().domain([20, 200]).range([new Date(data[0].t), new Date(data[data.length-1].t)]);
		var formatDay = d3.time.format("%a %d");
        var xAxis = d3.svg.axis().orient("up")
	                         .scale(xScale)
	                         .orient("bottom")
				             .ticks(d3.time.day, 7)
				             .tickFormat(formatDay);		
	    var time_control = monthDataLayer.append('g').attr('class','time_control'); 
      	
        time_control.append("g").attr("class", "xaxis")              
            //.attr("transform", "translate(0," + (height - padding) + ")")
            .call(xAxis); 
        monthDataLayer.selectAll(".xaxis text").attr("transform", function(d) {          
              return "translate(" + this.getBBox().height*-2 + "," + this.getBBox().height + ")rotate(-45)";
        });	
				
	}
	
	var time_control;
	var formatHour = d3.time.format("%H:%M");
	function showTimeControl(vis){
        var xAxis = d3.svg.axis().orient("up")
	                         .scale(dayScale)
	                         .orient("bottom")
				             .ticks(d3.time.hours, 4)
				             .tickFormat(formatHour);		
	    var time_control = vis.append('g').attr('class','time_control')
      	
        time_control.append("g").attr("class", "xaxis")              
            //.attr("transform", "translate(0," + (height - padding) + ")")
            .call(xAxis); 
        vis.selectAll(".xaxis text").attr("transform", function(d) {          
              return "translate(" + this.getBBox().height*-2 + "," + this.getBBox().height + ")rotate(-45)";
        });		
	}

	function redrawHistoryGraph(id, timeline,data) {	    

	}
		
  	/****************************  utiliy ***********************************/
	function getNumberOfDays(year, month) {
		var isLeap = ((year % 4) == 0 && ((year % 100) != 0 || (year % 400) == 0));
		return [31, (isLeap ? 29 : 28), 31, 30, 31, 30, 31, 31, 30, 31, 30, 31][month];
	}
		
	$scope.getDayLeft = function(){
	    var now = new Date();
		console.log(now.getDate());
	    return getNumberOfDays(now.getFullYear(),now.getMonth()) -  now.getDate();
	}
	
	$scope.$on('mybroadcast', function(service){
		//console.log('on my broadcast', service);
	    touchScroll("bodyID");
	    $scope.sizeContent();		
    })

	$scope.styleFont = function(elem) {
		//console.log(elem ,  elem.length,'--------------------------------------------------------------------');
		if(elem.length <= 5)
		return { "font-size": '65px' };
		else if(elem.length < 7)
		return { "font-size": '48px', 'margin-top':'20px' };
		else if(elem.length < 9)
		return { "font-size": '42px', 'margin-top':'28px' };
		else if(elem.length <=12)
		return { "font-size": '34px', 'margin-top':'37px' };			
		else if(elem.length <=17)
		return { "font-size": '25px', 'margin-top':'50px' };			
	}
	
    $scope.dateformat = function(date){
		var date = new Date(date);	
		var hour = date.getHours(), min = date.getMinutes();
		if(hour < 10) hour = '0'+date.getHours();
		if(min < 10) min = '0'+date.getMinutes();
		return  hour+":"+min;		 
	}
	
	
	
  	// touch device overflow fix
  	function isTouchDevice() {
  		try{
  			document.createEvent("TouchEvent");
  			return true;
  		}catch(e){
  			return false;
  		}
  	}

  	function touchScroll(id) {
  		if(isTouchDevice()){ //if touch events exist...
  			var el=document.getElementById(id);
  			var scrollStartPos=0;

  			document.getElementById(id).addEventListener("touchstart", function(event) {
  				scrollStartPos=this.scrollTop+event.touches[0].pageY;
  				event.preventDefault();
  			},false);

  			document.getElementById(id).addEventListener("touchmove", function(event) {
  				this.scrollTop=scrollStartPos-event.touches[0].pageY;
  				event.preventDefault();
  			},false);
  		}
  	}
  		
});
	
  //Every resize of window
  //$(window).resize(sizeContent); 

  
</script>			
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-47972011-1', 'inhand.org.uk');
      ga('send', 'pageview');

    </script>
</body>
</html>
